:root,
::after,
::before  {
  [data-test="none"] {

  }
  [data-background="default"] {
  --hotlink-underline-default: hidden;
  --hotlink-underline-hover: block;
  --elevation-border-5: var(--elevation-border-default-5);
  --elevation-border-4: var(--elevation-border-default-4);
  --elevation-border-3: var(--elevation-border-default-3);
  --elevation-border-2: var(--elevation-border-default-2);
  --elevation-border-1: var(--elevation-border-default-1);
  --elevation-border-0: var(--elevation-border-default-0);
  --elevation-quiet-5: var(--elevation-quiet-default-5);
  --elevation-quiet-4: var(--elevation-quiet-default-4);
  --elevation-quiet-3: var(--elevation-quiet-default-3);
  --elevation-quiet-2: var(--elevation-quiet-default-2);
  --elevation-quiet-1: var(--elevation-quiet-default-1);
  --elevation-quiet-0: var(--elevation-quiet-default-0);
  --on-icon-yellow: var(--theme-elements-on-icons-on-default-yellow);
  --on-icon-orange: var(--theme-elements-on-icons-on-default-orange);
  --icon-info: var(--theme-elements-icons-on-default-info);
  --icon-error: var(--theme-elements-icons-on-default-error);
  --icon-warning: var(--theme-elements-icons-on-default-warning);
  --icon-success: var(--theme-elements-icons-on-default-success);
  --icon-blue: var(--theme-elements-icons-on-default-blue);
  --icon-yellow: var(--theme-elements-icons-on-default-yellow);
  --icon-orange: var(--theme-elements-icons-on-default-orange);
  --icon-aqua: var(--theme-elements-icons-on-default-aqua);
  --icon-green: var(--theme-elements-icons-on-default-green);
  --icon-violet: var(--theme-elements-icons-on-default-violet);
  --icon-magenta: var(--theme-elements-icons-on-default-magenta);
  --colored-text-info: var(--theme-elements-text-on-default-info);
  --colored-text-error: var(--theme-elements-text-on-default-error);
  --colored-text-warning: var(--theme-elements-text-on-default-warning);
  --colored-text-success: var(--theme-elements-text-on-default-success);
  --colored-text-blue: var(--theme-elements-text-on-default-blue);
  --colored-text-yellow: var(--theme-elements-text-on-default-yellow);
  --colored-text-orange: var(--theme-elements-text-on-default-orange);
  --colored-text-aqua: var(--theme-elements-text-on-default-aqua);
  --colored-text-green: var(--theme-elements-text-on-default-green);
  --colored-text-violet: var(--theme-elements-text-on-default-violet);
  --colored-text-magenta: var(--theme-elements-text-on-default-magenta);
  --alt-background-color: var(--mode-colors-default-alt-background-color);
  --elevation-color-5: var(--elevation-color-default-5);
  --elevation-color-4: var(--elevation-color-default-4);
  --elevation-color-3: var(--elevation-color-default-3);
  --elevation-color-2: var(--elevation-color-default-2);
  --elevation-color-1: var(--elevation-color-default-1);
  --elevation-color-0: var(--elevation-color-default-0);
  --elevation-on-color-5: var(--elevation-on-color-default-5);
  --elevation-on-color-4: var(--elevation-on-color-default-4);
  --elevation-on-color-3: var(--elevation-on-color-default-3);
  --elevation-on-color-2: var(--elevation-on-color-default-2);
  --elevation-on-color-1: var(--elevation-on-color-default-1);
  --elevation-on-color-0: var(--elevation-on-color-default-0);
  --icon-primary: var(--theme-elements-icons-on-default-primary);
  --colored-text-primary: var(--theme-elements-text-on-default-primary);
  --background-hotlink: var(--mode-colors-default-background-hotlink);
  --on-icon-info: var(--theme-elements-on-icons-on-default-info);
  --on-icon-error: var(--theme-elements-on-icons-on-default-error);
  --on-icon-warning: var(--theme-elements-on-icons-on-default-warning);
  --on-icon-success: var(--theme-elements-on-icons-on-default-success);
  --on-icon-blue: var(--theme-elements-on-icons-on-default-blue);
  --on-icon-aqua: var(--theme-elements-on-icons-on-default-aqua);
  --on-icon-green: var(--theme-elements-on-icons-on-default-green);
  --on-icon-violet: var(--theme-elements-on-icons-on-default-violet);
  --on-icon-magenta: var(--theme-elements-on-icons-on-default-magenta);
  --icon-on-brand: var(--theme-elements-icons-on-dark-shades-brand);
  --icon-brand: var(--theme-elements-icons-on-default-brand);
  --icon-tertiary: var(--theme-elements-icons-on-default-tertiary);
  --icon-secondary: var(--theme-elements-icons-on-default-secondary);
  --colored-text-tertiary: var(--theme-elements-text-on-default-tertiary);
  --colored-text-secondary: var(--theme-elements-text-on-default-secondary);
  --background-on-color-quiet: var(--quiet);
  --background-on-on-color: var(--mode-colors-default-background-on-on-color);
  --on-icon-on-brand: var(--theme-elements-on-icons-on-dark-shades-brand);
  --on-icon-brand: var(--theme-elements-on-icons-on-default-brand);
  --background-border: var(--border);
  --background-button: var(--mode-colors-default-background-button);
  --on-icon-primary: var(--theme-elements-on-icons-on-default-primary);
  --background-on-button: var(--mode-colors-default-background-on-button);
  --background-button-half: var(--mode-colors-default-background-button-half);
  --on-icon-tertiary: var(--theme-elements-on-icons-on-default-tertiary);
  --on-icon-secondary: var(--theme-elements-on-icons-on-default-secondary);
  --background-color: var(--color);
  --on-icon-default: var(--on-color);
  --icon-default: var(--on-color);
  --colored-text-default: var(--on-color);
  --background-on-color: var(--on-color);
}
[data-background="black"] {
  --hotlink-underline-default: hidden;
  --hotlink-underline-hover: block;
  --elevation-border-5: var(--elevation-border-default-5);
  --elevation-border-4: var(--elevation-border-default-4);
  --elevation-border-3: var(--elevation-border-default-3);
  --elevation-border-2: var(--elevation-border-default-2);
  --elevation-border-1: var(--elevation-border-default-1);
  --elevation-border-0: var(--elevation-border-default-0);
  --elevation-quiet-5: var(--elevation-quiet-default-5);
  --elevation-quiet-4: var(--elevation-quiet-default-4);
  --elevation-quiet-3: var(--elevation-quiet-default-3);
  --elevation-quiet-2: var(--elevation-quiet-default-2);
  --elevation-quiet-1: var(--elevation-quiet-default-1);
  --elevation-quiet-0: var(--elevation-quiet-default-0);
  --on-icon-yellow: var(--theme-elements-on-icons-on-default-yellow);
  --on-icon-orange: var(--theme-elements-on-icons-on-default-orange);
  --icon-info: var(--theme-elements-icons-on-default-info);
  --icon-error: var(--theme-elements-icons-on-default-error);
  --icon-warning: var(--theme-elements-icons-on-default-warning);
  --icon-success: var(--theme-elements-icons-on-default-success);
  --icon-blue: var(--theme-elements-icons-on-default-blue);
  --icon-yellow: var(--theme-elements-icons-on-default-yellow);
  --icon-orange: var(--theme-elements-icons-on-default-orange);
  --icon-aqua: var(--theme-elements-icons-on-default-aqua);
  --icon-green: var(--theme-elements-icons-on-default-green);
  --icon-violet: var(--theme-elements-icons-on-default-violet);
  --icon-magenta: var(--theme-elements-icons-on-default-magenta);
  --colored-text-info: var(--theme-elements-text-on-default-info);
  --colored-text-error: var(--theme-elements-text-on-default-error);
  --colored-text-warning: var(--theme-elements-text-on-default-warning);
  --colored-text-success: var(--theme-elements-text-on-default-success);
  --colored-text-blue: var(--theme-elements-text-on-default-blue);
  --colored-text-yellow: var(--theme-elements-text-on-default-yellow);
  --colored-text-orange: var(--theme-elements-text-on-default-orange);
  --colored-text-aqua: var(--theme-elements-text-on-default-aqua);
  --colored-text-green: var(--theme-elements-text-on-default-green);
  --colored-text-violet: var(--theme-elements-text-on-default-violet);
  --colored-text-magenta: var(--theme-elements-text-on-default-magenta);
  --alt-background-color: var(--mode-colors-default-alt-background-color);
  --elevation-color-5: var(--elevation-color-default-5);
  --elevation-color-4: var(--elevation-color-default-4);
  --elevation-color-3: var(--elevation-color-default-3);
  --elevation-color-2: var(--elevation-color-default-2);
  --elevation-color-1: var(--elevation-color-default-1);
  --elevation-color-0: var(--elevation-color-default-0);
  --elevation-on-color-5: var(--elevation-on-color-default-5);
  --elevation-on-color-4: var(--elevation-on-color-default-4);
  --elevation-on-color-3: var(--elevation-on-color-default-3);
  --elevation-on-color-2: var(--elevation-on-color-default-2);
  --elevation-on-color-1: var(--elevation-on-color-default-1);
  --elevation-on-color-0: var(--elevation-on-color-default-0);
  --icon-primary: var(--theme-elements-icons-on-default-primary);
  --colored-text-primary: var(--theme-elements-text-on-default-primary);
  --background-hotlink: var(--mode-colors-default-background-hotlink);
  --on-icon-info: var(--theme-elements-on-icons-on-default-info);
  --on-icon-error: var(--theme-elements-on-icons-on-default-error);
  --on-icon-warning: var(--theme-elements-on-icons-on-default-warning);
  --on-icon-success: var(--theme-elements-on-icons-on-default-success);
  --on-icon-blue: var(--theme-elements-on-icons-on-default-blue);
  --on-icon-aqua: var(--theme-elements-on-icons-on-default-aqua);
  --on-icon-green: var(--theme-elements-on-icons-on-default-green);
  --on-icon-violet: var(--theme-elements-on-icons-on-default-violet);
  --on-icon-magenta: var(--theme-elements-on-icons-on-default-magenta);
  --icon-on-brand: var(--theme-elements-icons-on-dark-shades-brand);
  --icon-brand: var(--theme-elements-icons-on-default-brand);
  --icon-tertiary: var(--theme-elements-icons-on-default-tertiary);
  --icon-secondary: var(--theme-elements-icons-on-default-secondary);
  --colored-text-tertiary: var(--theme-elements-text-on-default-tertiary);
  --colored-text-secondary: var(--theme-elements-text-on-default-secondary);
  --background-on-color-quiet: var(--quiet);
  --background-on-on-color: var(--mode-colors-default-background-on-on-color);
  --on-icon-on-brand: var(--theme-elements-on-icons-on-dark-shades-brand);
  --on-icon-brand: var(--theme-elements-on-icons-on-default-brand);
  --background-border: var(--border);
  --background-button: var(--mode-colors-default-background-button);
  --on-icon-primary: var(--theme-elements-on-icons-on-default-primary);
  --background-on-button: var(--mode-colors-default-background-on-button);
  --background-button-half: var(--mode-colors-default-background-button-half);
  --on-icon-tertiary: var(--theme-elements-on-icons-on-default-tertiary);
  --on-icon-secondary: var(--theme-elements-on-icons-on-default-secondary);
  --background-color: var(--color);
  --on-icon-default: var(--on-color);
  --icon-default: var(--on-color);
  --colored-text-default: var(--on-color);
  --background-on-color: var(--on-color);
}
}
