:root,::before, ::after {
[data-charting="default"] {
--color-blind-name: "default";
--charts-1: var(--primary-color-500);
--charts-2: var(--primary-color-600);
--charts-3: var(--primary-color-700);
--charts-4: var(--secondary-color-500);
--charts-5: var(--secondary-color-600);
--charts-6: var(--secondary-color-700);
--charts-7: var(--tertiary-color-500);
--charts-8: var(--tertiary-color-600);
--charts-9: var(--tertiary-color-700);
--charts-10: var(--all-colors-neutral-color-800);
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: var(--primary-color-100);
--charts-on-midnight-2: var(--primary-color-200);
--charts-on-midnight-3: var(--primary-color-300);
--charts-on-midnight-4: var(--secondary-color-100);
--charts-on-midnight-5: var(--secondary-color-200);
--charts-on-midnight-6: var(--secondary-color-300);
--charts-on-midnight-7: var(--tertiary-color-100);
--charts-on-midnight-8: var(--tertiary-color-200);
--charts-on-midnight-9: var(--tertiary-color-300);
--charts-on-midnight-10: var(--all-colors-neutral-color-200);
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-half-midnight-1:  color-mix(in srgb, var(--charts-on-midnight-1) 50%, transparent);
--charts-half-midnight-2:  color-mix(in srgb, var(--charts-on-midnight-2) 50%, transparent);
--charts-half-midnight-3:  color-mix(in srgb, var(--charts-on-midnight-3) 50%, transparent);
--charts-half-midnight-4:  color-mix(in srgb, var(--charts-on-midnight-4) 50%, transparent);
--charts-half-midnight-5:  color-mix(in srgb, var(--charts-on-midnight-5) 50%, transparent);
--charts-half-midnight-6:  color-mix(in srgb, var(--charts-on-midnight-6) 50%, transparent);
--charts-half-midnight-7:  color-mix(in srgb, var(--charts-on-midnight-7) 50%, transparent);
--charts-half-midnight-8:  color-mix(in srgb, var(--charts-on-midnight-8) 50%, transparent);
--charts-half-midnight-9:  color-mix(in srgb, var(--charts-on-midnight-9) 50%, transparent);
--charts-half-midnight-10:  color-mix(in srgb, var(--charts-on-midnight-10) 50%, transparent);
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="red-weak"] {
--color-blind-name: "red-weak";
--charts-1: #3a62c7;
--charts-2: #1e455d;
--charts-3: #4793bd;
--charts-4: #62649d;
--charts-5: #a34250;
--charts-6: #d07565;
--charts-7: #5c7c64;
--charts-8: #ba77a0;
--charts-9: #789399;
--charts-10: #af884e;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: #3f6cdf;
--charts-on-midnight-2: #347aa5;
--charts-on-midnight-3: #4ea1cf;
--charts-on-midnight-4: #6e70ae;
--charts-on-midnight-5: #c15060;
--charts-on-midnight-6: #d07565;
--charts-on-midnight-7: #5c7c64;
--charts-on-midnight-8: #ba77a0;
--charts-on-midnight-9: #789399;
--charts-on-midnight-0: #af884e;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #3e6cdf80;
--charts-on-midnight-half-2: #337aa580;
--charts-on-midnight-half-3: #4ea1cf80;
--charts-on-midnight-half-4: #6e70ae80;
--charts-on-midnight-half-5: #c1506080;
--charts-on-midnight-half-6: #d0756580;
--charts-on-midnight-half-7: #5c7c6480;
--charts-on-midnight-half-8: #ba77a080;
--charts-on-midnight-half-9: #78939980;
--charts-on-midnight-half-10: #af884e80;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="green-weak"] {
--color-blind-name: "green-weak";
--charts-1: #060b24;
--charts-2: #1c4174;
--charts-3: #558be8;
--charts-4: #3a62c7;
--charts-5: #7f574e;
--charts-6: #b98446;
--charts-7: #767637;
--charts-8: #9180cd;
--charts-9: #9c839d;
--charts-10: #52406f;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: #347aa5;
--charts-on-midnight-2: #3f6cdf;
--charts-on-midnight-3: #6e70ae;
--charts-on-midnight-4: #97675c;
--charts-on-midnight-5: #b98446;
--charts-on-midnight-6: #999947;
--charts-on-midnight-7: #eabe6d;
--charts-on-midnight-8: #9180cd;
--charts-on-midnight-9: #9c839d;
--charts-on-midnight-10: #cbb1f4;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #337aa580;
--charts-on-midnight-half-2: #3e6cdf80;
--charts-on-midnight-half-3: #6e70ae80;
--charts-on-midnight-half-4: #97675c80;
--charts-on-midnight-half-5: #b9844680;
--charts-on-midnight-half-6: #99994780;
--charts-on-midnight-half-7: #eabe6d80;
--charts-on-midnight-half-8: #9080cd80;
--charts-on-midnight-half-9: #9c839d80;
--charts-on-midnight-half-10: #cbb1f480;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="blue-weak"] {
--color-blind-name: "blue-weak";
--charts-1: #3a62c7;
--charts-2: #1e455d;
--charts-3: #4793bd;
--charts-4: #62649d;
--charts-5: #a34250;
--charts-6: #d07565;
--charts-7: #5c7c64;
--charts-8: #ba77a0;
--charts-9: #789399;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-chart-lines: #23233f33;
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #ffdbc6;
--charts-on-midnight-half-2: #a1afdd;
--charts-on-midnight-half-3: #3679cf;
--charts-on-midnight-half-4: #558be8;
--charts-on-midnight-half-5: #8b703e;
--charts-on-midnight-half-6: #aa8b5b;
--charts-on-midnight-half-7: #eabe6d;
--charts-on-midnight-half-8: #817378;
--charts-on-midnight-half-9: #9b8c92;
--charts-on-midnight-half-10: #dcc7cd;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="red-blind"] {
--color-blind-name: "red-blind";
--charts-1: #060b24;
--charts-2: #274f94;
--charts-3: #3a62c7;
--charts-4: #558be8;
--charts-5: #665b27;
--charts-6: #807532;
--charts-7: #9d9151;
--charts-8: #6170a5;
--charts-: #8988a4;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-chart-lines: #23233f33;
--charts-on-midnight-1: #ffdbc6;
--charts-on-midnight-2: #a1afdd;
--charts-on-midnight-3: #3679cf;
--charts-on-midnight-4: #558be8;
--charts-on-midnight-5: #8b703e;
--charts-on-midnight-6: #aa8b5b;
--charts-on-midnight-7: #eabe6d;
--charts-on-midnight-8: #817378;
--charts-on-midnight-9: #9b8c92;
--charts-on-midnight-10: #dcc7cd;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #ffdbc680;
--charts-on-midnight-half-2: #a1afdd80;
--charts-on-midnight-half-3: #3479cf80;
--charts-on-midnight-half-4: #548be880;
--charts-on-midnight-half-5: #8b703e80;
--charts-on-midnight-half-6: #aa8b5b80;
--charts-on-midnight-half-7: #eabe6d80;
--charts-on-midnight-half-8: #81737880;
--charts-on-midnight-half-9: #9b8c9280;
--charts-on-midnight-half-10: #dcc7cd80;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="green-blind"] {
--color-blind-name: "green-blind";
--charts-1: #031021;
--charts-2: #283e78;
--charts-3: #6886e5;
--charts-4: #2b67d6;
--charts-5: #5e6383;
--charts-6: #8988a4;
--charts-7: #8f8d8c;
--charts-8: #807531;
--charts-9: #9e9050;
--charts-10: #a08a76;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: #ffffff;
--charts-on-midnight-2: #a1afdd;
--charts-on-midnight-3: #3679cf;
--charts-on-midnight-4: #558be8;
--charts-on-midnight-5: #a0949d;
--charts-on-midnight-6: #c6b3b8;
--charts-on-midnight-7: #e6d4e4;
--charts-on-midnight-8: #807531;
--charts-on-midnight-9: #9e9050;
--charts-on-midnight-10: #dbc55a;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #ffffff;
--charts-on-midnight-half-2: #a1afdd80;
--charts-on-midnight-half-3: #3479cf80;
--charts-on-midnight-half-4: #548be880;
--charts-on-midnight-half-5: #a0949d80;
--charts-on-midnight-half-6: #c6b3b880;
--charts-on-midnight-half-7: #e6d4e480;
--charts-on-midnight-half-8: #80753180;
--charts-on-midnight-half-9: #9e905080;
--charts-on-midnight-half-10: #dbc55a80;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="blue-blind"] {
--color-blind-name: "blue-blind";
--charts-1: #041214;
--charts-2: #1c484d;
--charts-3: #3d8c98;
--charts-4: #67989b;
--charts-5: #91999c;
--charts-6: #59373a;
--charts-7: #94686c;
--charts-8: #a24443;
--charts-9: #d17377;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-chart-lines: #23233f33;
--charts-on-midnight-1: #226f78;
--charts-on-midnight-2: #3d8c98;
--charts-on-midnight-3: #67989b;
--charts-on-midnight-4: #bee1e3;
--charts-on-midnight-5: #736970;
--charts-on-midnight-6: #998e96;
--charts-on-midnight-7: #b84e4d;
--charts-on-midnight-8: #9a5e63;
--charts-on-midnight-9: #d17377;
--charts-on-midnight-10: #debbc7;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #226f7880;
--charts-on-midnight-half-2: #3d8c9880;
--charts-on-midnight-half-3: #67989b80;
--charts-on-midnight-half-4: #bee1e380;
--charts-on-midnight-half-5: #73697080;
--charts-on-midnight-half-6: #998e9680;
--charts-on-midnight-half-7: #b84e4d80;
--charts-on-midnight-half-8: #9a5e6380;
--charts-on-midnight-half-9: #d1737780;
--charts-on-midnight-half-10: #debbc780;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="blue-cone"] {
--color-blind-name: "blue-cone";
--charts-1: #041214;
--charts-2: #1c484d;
--charts-3: #3d8c98;
--charts-4: #67989b;
--charts-5: #91999c;
--charts-6: #59373a;
--charts-7: #94686c;
--charts-8: #a24443;
--charts-9: #d17377;
--charts-10: #d33635;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: #226f78;
--charts-on-midnight-2: #3d8c98;
--charts-on-midnight-3: #67989b;
--charts-on-midnight-4: #bee1e3;
--charts-on-midnight-5: #736970;
--charts-on-midnight-6: #998e96;
--charts-on-midnight-7: #b84e4d;
--charts-on-midnight-8: #9a5e63;
--charts-on-midnight-9: #d17377;
--charts-on-midnight-10: #debbc7;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #226f7880;
--charts-on-midnight-half-2: #3d8c9880;
--charts-on-midnight-half-3: #67989b80;
--charts-on-midnight-half-4: #bee1e380;
--charts-on-midnight-half-5: #73697080;
--charts-on-midnight-half-6: #998e9680;
--charts-on-midnight-half-7: #b84e4d80;
--charts-on-midnight-half-8: #9a5e6380;
--charts-on-midnight-half-9: #d1737780;
--charts-on-midnight-half-10: #debbc780;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
[data-charting="monochromatic"] {
--color-blind-name: "monochromatic";
--charts-1: #ffffff;
--charts-2: #ffffff;
--charts-3: #ffffff;
--charts-4: #ffffff;
--charts-5: #ffffff;
--charts-6: #ffffff;
--charts-7: #ffffff;
--charts-8: #ffffff;
--charts-9: #ffffff;
--charts-10: #ffffff;
--charts-chart-BG: var(--all-colors-neutral-color-050);
--charts-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-1: #ffffff;
--charts-on-midnight-2: #ffffff;
--charts-on-midnight-3: #ffffff;
--charts-on-midnight-4: #ffffff;
--charts-on-midnight-5: #ffffff;
--charts-on-midnight-6: #ffffff;
--charts-on-midnight-7: #ffffff;
--charts-on-midnight-8: #ffffff;
--charts-on-midnight-9: #ffffff;
--charts-on-midnight-10: #ffffff;
--charts-on-midnight-chart-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-chart-lines:  var(--all-colors-neutral-on-color-800);
--charts-half-1:  color-mix(in srgb, var(--charts-1) 50%, transparent);
--charts-half-2:  color-mix(in srgb, var(--charts-2) 50%, transparent);
--charts-half-3:  color-mix(in srgb, var(--charts-3) 50%, transparent);
--charts-half-4:  color-mix(in srgb, var(--charts-4) 50%, transparent);
--charts-half-5:  color-mix(in srgb, var(--charts-5) 50%, transparent);
--charts-half-6:  color-mix(in srgb, var(--charts-6) 50%, transparent);
--charts-half-7:  color-mix(in srgb, var(--charts-7) 50%, transparent);
--charts-half-8:  color-mix(in srgb, var(--charts-8) 50%, transparent);
--charts-half-9:  color-mix(in srgb, var(--charts-9) 50%, transparent);
--charts-half-10:  color-mix(in srgb, var(--charts-10) 50%, transparent);
--charts-half-BG: var(--all-colors-neutral-color-050);
--charts-half-chart-lines:  var(--all-colors-neutral-on-color-050);
--charts-on-midnight-half-1: #8f56d480;
--charts-on-midnight-half-2: #337aa580;
--charts-on-midnight-half-3: #4ea1cf80;
--charts-on-midnight-half-4: #dbc55a80;
--charts-on-midnight-half-5: #c1506080;
--charts-on-midnight-half-6: #d0756580;
--charts-on-midnight-half-7: #5c7c6480;
--charts-on-midnight-half-8: #ba77a080;
--charts-on-midnight-half-9: #78939980;
--charts-on-midnight-half-10: #77763780;
--charts-on-midnight-half-BG: var(--all-colors-neutral-color-800);
--charts-on-midnight-half-chart-lines:  var(--all-colors-neutral-on-color-800);
}
}
