:root,::before, ::after {
[data-mode="light"] {
--all-colors-neutral-color-100: #F8F8F9;
--all-colors-neutral-color-200: #EFEFF1;
--all-colors-neutral-color-300: #DEDEE2;
--all-colors-neutral-color-400: #C8C8CF;
--all-colors-neutral-color-500: #91919F;
--all-colors-neutral-color-600: #707082;
--all-colors-neutral-color-700: #5A5A6F;
--all-colors-neutral-color-800: #23233f;
--all-colors-neutral-color-900: #00001c;
--all-colors-neutral-color-050: #ffffff;
--all-colors-neutral-on-color-100:  var(--text-dark);
--all-colors-neutral-on-color-200:  var(--text-dark);
--all-colors-neutral-on-color-300:  var(--text-dark);
--all-colors-neutral-on-color-400:  var(--text-dark);
--all-colors-neutral-on-color-500:  var(--text-dark);
--all-colors-neutral-on-color-600:  var(--text-white);
--all-colors-neutral-on-color-700:  var(--text-white);
--all-colors-neutral-on-color-800:  var(--text-white);
--all-colors-neutral-on-color-900:  var(--text-white);
--all-colors-neutral-on-color-050:  var(--text-dark);
--all-colors-orange-color-100: #ffdbc6;
--all-colors-orange-color-200: #feb690;
--all-colors-orange-color-300: #f6915c;
--all-colors-orange-color-400: #ea6a28;
--all-colors-orange-color-500: #ca4600;
--all-colors-orange-color-600: #a52600;
--all-colors-orange-color-700: #830000;
--all-colors-orange-color-800: #520000;
--all-colors-orange-color-900: #340000;
--all-colors-orange-color-050: #ffebe1;
--all-colors-orange-on-color-100:  var(--text-dark);
--all-colors-orange-on-color-200:  var(--text-dark);
--all-colors-orange-on-color-300:  var(--text-dark);
--all-colors-orange-on-color-400:  var(--text-dark);
--all-colors-orange-on-color-500:  var(--text-white);
--all-colors-orange-on-color-600:  var(--text-white);
--all-colors-orange-on-color-700:  var(--text-white);
--all-colors-orange-on-color-800:  var(--text-white);
--all-colors-orange-on-color-900:  var(--text-white);
--all-colors-orange-on-color-050:  var(--text-dark);
--all-colors-yellow-color-100: #fedb93;
--all-colors-yellow-color-200: #fcb116;
--all-colors-yellow-color-300: #da9400;
--all-colors-yellow-color-400: #c27f0e;
--all-colors-yellow-color-500: #986000;
--all-colors-yellow-color-600: #794700;
--all-colors-yellow-color-700: #5e2e00;
--all-colors-yellow-color-800: #3f1b00;
--all-colors-yellow-color-900: #250500;
--all-colors-yellow-color-050: #fdecc7;
--all-colors-yellow-on-color-100:  var(--text-dark);
--all-colors-yellow-on-color-200:  var(--text-dark);
--all-colors-yellow-on-color-300:  var(--text-dark);
--all-colors-yellow-on-color-400:  var(--text-dark);
--all-colors-yellow-on-color-500:  var(--text-white);
--all-colors-yellow-on-color-600:  var(--text-white);
--all-colors-yellow-on-color-700:  var(--text-white);
--all-colors-yellow-on-color-800:  var(--text-white);
--all-colors-yellow-on-color-900:  var(--text-white);
--all-colors-yellow-on-color-050:  var(--text-dark);
--all-colors-aqua-color-100: #cdeeea;
--all-colors-aqua-color-200: #98dbd4;
--all-colors-aqua-color-300: #5bc9bd;
--all-colors-aqua-color-400: #00ac9F;
--all-colors-aqua-color-500: #008375;
--all-colors-aqua-color-600: #007262;
--all-colors-aqua-color-700: #005346;
--all-colors-aqua-color-800: #002d29;
--all-colors-aqua-color-900: #00150b;
--all-colors-aqua-color-050: #e5f6f4;
--all-colors-aqua-on-color-100:  var(--text-dark);
--all-colors-aqua-on-color-200:  var(--text-dark);
--all-colors-aqua-on-color-300:  var(--text-dark);
--all-colors-aqua-on-color-400:  var(--text-dark);
--all-colors-aqua-on-color-500:  var(--text-white);
--all-colors-aqua-on-color-600:  var(--text-white);
--all-colors-aqua-on-color-700:  var(--text-white);
--all-colors-aqua-on-color-800:  var(--text-white);
--all-colors-aqua-on-color-900:  var(--text-white);
--all-colors-aqua-on-color-050:  var(--text-dark);
--all-colors-violet-color-100: #e2e4f2;
--all-colors-violet-color-200: #c5c9e4;
--all-colors-violet-color-300: #a9afd7;
--all-colors-violet-color-400: #8e95c9;
--all-colors-violet-color-500: #6671aF;
--all-colors-violet-color-600: #41579e;
--all-colors-violet-color-700: #003b89;
--all-colors-violet-color-800: #1c223F;
--all-colors-violet-color-900: #030420;
--all-colors-violet-color-050: #f1f2fa;
--all-colors-violet-on-color-100:  var(--text-dark);
--all-colors-violet-on-color-200:  var(--text-dark);
--all-colors-violet-on-color-300:  var(--text-dark);
--all-colors-violet-on-color-400:  var(--text-dark);
--all-colors-violet-on-color-500:  var(--text-white);
--all-colors-violet-on-color-600:  var(--text-white);
--all-colors-violet-on-color-700:  var(--text-white);
--all-colors-violet-on-color-800:  var(--text-white);
--all-colors-violet-on-color-900:  var(--text-white);
--all-colors-violet-on-color-050:  var(--text-dark);
--all-colors-green-color-100: #d7e9c6;
--all-colors-green-color-200: #b0d38d;
--all-colors-green-color-300: #88bd54;
--all-colors-green-color-400: #54a200;
--all-colors-green-color-500: #308300;
--all-colors-green-color-600: #006600;
--all-colors-green-color-700: #004900;
--all-colors-green-color-800: #0f2a00;
--all-colors-green-color-900: #001300;
--all-colors-green-color-050: #ebf4e2;
--all-colors-green-on-color-100:  var(--text-dark);
--all-colors-green-on-color-200:  var(--text-dark);
--all-colors-green-on-color-300:  var(--text-dark);
--all-colors-green-on-color-400:  var(--text-dark);
--all-colors-green-on-color-500:  var(--text-white);
--all-colors-green-on-color-600:  var(--text-white);
--all-colors-green-on-color-700:  var(--text-white);
--all-colors-green-on-color-800:  var(--text-white);
--all-colors-green-on-color-900:  var(--text-white);
--all-colors-green-on-color-050:  var(--text-dark);
--all-colors-blue-color-100: #c8e7f3;
--all-colors-blue-color-200: #8ccee9;
--all-colors-blue-color-300: #42b5e2;
--all-colors-blue-color-400: #009bd5;
--all-colors-blue-color-500: #007bc0;
--all-colors-blue-color-600: #0068bb;
--all-colors-blue-color-700: #004fa2;
--all-colors-blue-color-800: #002940;
--all-colors-blue-color-900: #00131F;
--all-colors-blue-color-050: #e3f2f8;
--all-colors-blue-on-color-100:  var(--text-dark);
--all-colors-blue-on-color-200:  var(--text-dark);
--all-colors-blue-on-color-300:  var(--text-dark);
--all-colors-blue-on-color-400:  var(--text-dark);
--all-colors-blue-on-color-500:  var(--text-white);
--all-colors-blue-on-color-600:  var(--text-white);
--all-colors-blue-on-color-700:  var(--text-white);
--all-colors-blue-on-color-800:  var(--text-white);
--all-colors-blue-on-color-900:  var(--text-white);
--all-colors-blue-on-color-050:  var(--text-dark);
--all-colors-magenta-color-100: #fbddea;
--all-colors-magenta-color-200: #f6bad6;
--all-colors-magenta-color-300: #ef96bF;
--all-colors-magenta-color-400: #e871a8;
--all-colors-magenta-color-500: #d03889;
--all-colors-magenta-color-600: #bf006F;
--all-colors-magenta-color-700: #9b0052;
--all-colors-magenta-color-800: #4e002d;
--all-colors-magenta-color-900: #2c000F;
--all-colors-magenta-color-050: #fcedf4;
--all-colors-magenta-on-color-100:  var(--text-dark);
--all-colors-magenta-on-color-200:  var(--text-dark);
--all-colors-magenta-on-color-300:  var(--text-dark);
--all-colors-magenta-on-color-400:  var(--text-dark);
--all-colors-magenta-on-color-500:  var(--text-white);
--all-colors-magenta-on-color-600:  var(--text-white);
--all-colors-magenta-on-color-700:  var(--text-white);
--all-colors-magenta-on-color-800:  var(--text-white);
--all-colors-magenta-on-color-900:  var(--text-white);
--all-colors-magenta-on-color-050:  var(--text-dark);
--all-colors-success-color-100: #cfe5dd;
--all-colors-success-color-200: #a0ccbd;
--all-colors-success-color-300: #72b39b;
--all-colors-success-color-400: #459b7b;
--all-colors-success-color-500: #017f52;
--all-colors-success-color-600: #006433;
--all-colors-success-color-700: #004918;
--all-colors-success-color-800: #002a13;
--all-colors-success-color-900: #001500;
--all-colors-success-color-050: #e7f2ee;
--all-colors-success-on-color-100:  var(--text-dark);
--all-colors-success-on-color-200:  var(--text-dark);
--all-colors-success-on-color-300:  var(--text-dark);
--all-colors-success-on-color-400:  var(--text-dark);
--all-colors-success-on-color-500:  var(--text-white);
--all-colors-success-on-color-600:  var(--text-white);
--all-colors-success-on-color-700:  var(--text-white);
--all-colors-success-on-color-800:  var(--text-white);
--all-colors-success-on-color-900:  var(--text-white);
--all-colors-success-on-color-050:  var(--text-dark);
--all-colors-warning-color-100: #fedb93;
--all-colors-warning-color-200: #fcb116;
--all-colors-warning-color-300: #da9400;
--all-colors-warning-color-400: #c27f0e;
--all-colors-warning-color-500: #986000;
--all-colors-warning-color-600: #794700;
--all-colors-warning-color-700: #5e2e00;
--all-colors-warning-color-800: #3f1b00;
--all-colors-warning-color-900: #250500;
--all-colors-warning-color-050: #fdecc7;
--all-colors-warning-on-color-100:  var(--text-dark);
--all-colors-warning-on-color-200:  var(--text-dark);
--all-colors-warning-on-color-300:  var(--text-dark);
--all-colors-warning-on-color-400:  var(--text-dark);
--all-colors-warning-on-color-500:  var(--text-white);
--all-colors-warning-on-color-600:  var(--text-white);
--all-colors-warning-on-color-700:  var(--text-white);
--all-colors-warning-on-color-800:  var(--text-white);
--all-colors-warning-on-color-900:  var(--text-white);
--all-colors-warning-on-color-050:  var(--text-dark);
--all-colors-error-color-100: #fad8d8;
--all-colors-error-color-200: #f1b1b2;
--all-colors-error-color-300: #e68b8b;
--all-colors-error-color-400: #dd6869;
--all-colors-error-color-500: #c33a3a;
--all-colors-error-color-600: #ae001a;
--all-colors-error-color-700: #900000;
--all-colors-error-color-800: #510000;
--all-colors-error-color-900: #320000;
--all-colors-error-color-050: #fceaea;
--all-colors-error-on-color-100:  var(--text-dark);
--all-colors-error-on-color-200:  var(--text-dark);
--all-colors-error-on-color-300:  var(--text-dark);
--all-colors-error-on-color-400:  var(--text-dark);
--all-colors-error-on-color-500:  var(--text-white);
--all-colors-error-on-color-600:  var(--text-white);
--all-colors-error-on-color-700:  var(--text-white);
--all-colors-error-on-color-800:  var(--text-white);
--all-colors-error-on-color-900:  var(--text-white);
--all-colors-error-on-color-050:  var(--text-dark);
--all-colors-info-color-100: #dbe2f5;
--all-colors-info-color-200: #b7c6ea;
--all-colors-info-color-300: #94aadF;
--all-colors-info-color-400: #728ed3;
--all-colors-info-color-500: #5073c7;
--all-colors-info-color-600: #3057b9;
--all-colors-info-color-700: #003aa5;
--all-colors-info-color-800: #00225e;
--all-colors-info-color-900: #000636;
--all-colors-info-color-050: #edf1fa;
--all-colors-info-on-color-100:  var(--text-dark);
--all-colors-info-on-color-200:  var(--text-dark);
--all-colors-info-on-color-300:  var(--text-dark);
--all-colors-info-on-color-400:  var(--text-dark);
--all-colors-info-on-color-500:  var(--text-white);
--all-colors-info-on-color-600:  var(--text-white);
--all-colors-info-on-color-700:  var(--text-white);
--all-colors-info-on-color-800:  var(--text-white);
--all-colors-info-on-color-900:  var(--text-white);
--all-colors-info-on-color-050:  var(--text-dark);
}
[data-mode="aaa-light-mode"] {
  --all-colors-neutral-color-100: #F8F8F9;
  --all-colors-neutral-color-200: #EFEFF1;
  --all-colors-neutral-color-300: #DEDEE2;
  --all-colors-neutral-color-400: #C8C8CF;
  --all-colors-neutral-color-500: #91919F;
  --all-colors-neutral-color-600: #707082;
  --all-colors-neutral-color-700: #5A5A6F;
  --all-colors-neutral-color-800: var(--text-dark);
  --all-colors-neutral-color-900: #00001c;
  --all-colors-neutral-color-050: #ffffff;
  --all-colors-neutral-on-color-100:  var(--text-dark);
  --all-colors-neutral-on-color-200:  var(--text-dark);
  --all-colors-neutral-on-color-300:  var(--text-dark);
  --all-colors-neutral-on-color-400:  var(--text-dark);
  --all-colors-neutral-on-color-500:  var(--text-dark);
  --all-colors-neutral-on-color-600:  var(--text-white);
  --all-colors-neutral-on-color-700:  var(--text-white);
  --all-colors-neutral-on-color-800:  var(--text-white);
  --all-colors-neutral-on-color-900:  var(--text-white);
  --all-colors-neutral-on-color-050:  var(--text-dark);
  --all-colors-orange-color-100: #ffdbc6;
  --all-colors-orange-color-200: #feb690;
  --all-colors-orange-color-300: #f6915c;
  --all-colors-orange-color-400: #ea6a28;
  --all-colors-orange-color-500: #ca4600;
  --all-colors-orange-color-600: #a52600;
  --all-colors-orange-color-700: #830000;
  --all-colors-orange-color-800: #520000;
  --all-colors-orange-color-900: #340000;
  --all-colors-orange-color-050: #ffebe1;
  --all-colors-orange-on-color-100:  var(--text-dark);
  --all-colors-orange-on-color-200:  var(--text-dark);
  --all-colors-orange-on-color-300:  var(--text-dark);
  --all-colors-orange-on-color-400:  var(--text-dark);
  --all-colors-orange-on-color-500:  var(--text-white);
  --all-colors-orange-on-color-600:  var(--text-white);
  --all-colors-orange-on-color-700:  var(--text-white);
  --all-colors-orange-on-color-800:  var(--text-white);
  --all-colors-orange-on-color-900:  var(--text-white);
  --all-colors-orange-on-color-050:  var(--text-dark);
  --all-colors-yellow-color-100: #fedb93;
  --all-colors-yellow-color-200: #fcb116;
  --all-colors-yellow-color-300: #da9400;
  --all-colors-yellow-color-400: #c27f0e;
  --all-colors-yellow-color-500: #986000;
  --all-colors-yellow-color-600: #794700;
  --all-colors-yellow-color-700: #5e2e00;
  --all-colors-yellow-color-800: #3f1b00;
  --all-colors-yellow-color-900: #250500;
  --all-colors-yellow-color-050: #fdecc7;
  --all-colors-yellow-on-color-100:  var(--text-dark);
  --all-colors-yellow-on-color-200:  var(--text-dark);
  --all-colors-yellow-on-color-300:  var(--text-dark);
  --all-colors-yellow-on-color-400:  var(--text-dark);
  --all-colors-yellow-on-color-500:  var(--text-white);
  --all-colors-yellow-on-color-600:  var(--text-white);
  --all-colors-yellow-on-color-700:  var(--text-white);
  --all-colors-yellow-on-color-800:  var(--text-white);
  --all-colors-yellow-on-color-900:  var(--text-white);
  --all-colors-yellow-on-color-050:  var(--text-dark);
  --all-colors-aqua-color-100: #cdeeea;
  --all-colors-aqua-color-200: #98dbd4;
  --all-colors-aqua-color-300: #5bc9bd;
  --all-colors-aqua-color-400: #00ac9F;
  --all-colors-aqua-color-500: #008375;
  --all-colors-aqua-color-600: #007262;
  --all-colors-aqua-color-700: #005346;
  --all-colors-aqua-color-800: #002d29;
  --all-colors-aqua-color-900: #00150b;
  --all-colors-aqua-color-050: #e5f6f4;
  --all-colors-aqua-on-color-100:  var(--text-dark);
  --all-colors-aqua-on-color-200:  var(--text-dark);
  --all-colors-aqua-on-color-300:  var(--text-dark);
  --all-colors-aqua-on-color-400:  var(--text-dark);
  --all-colors-aqua-on-color-500:  var(--text-white);
  --all-colors-aqua-on-color-600:  var(--text-white);
  --all-colors-aqua-on-color-700:  var(--text-white);
  --all-colors-aqua-on-color-800:  var(--text-white);
  --all-colors-aqua-on-color-900:  var(--text-white);
  --all-colors-aqua-on-color-050:  var(--text-dark);
  --all-colors-violet-color-100: #e2e4f2;
  --all-colors-violet-color-200: #c5c9e4;
  --all-colors-violet-color-300: #a9afd7;
  --all-colors-violet-color-400: #8e95c9;
  --all-colors-violet-color-500: #6671aF;
  --all-colors-violet-color-600: #41579e;
  --all-colors-violet-color-700: #003b89;
  --all-colors-violet-color-800: #1c223F;
  --all-colors-violet-color-900: #030420;
  --all-colors-violet-color-050: #f1f2fa;
  --all-colors-violet-on-color-100:  var(--text-dark);
  --all-colors-violet-on-color-200:  var(--text-dark);
  --all-colors-violet-on-color-300:  var(--text-dark);
  --all-colors-violet-on-color-400:  var(--text-dark);
  --all-colors-violet-on-color-500:  var(--text-white);
  --all-colors-violet-on-color-600:  var(--text-white);
  --all-colors-violet-on-color-700:  var(--text-white);
  --all-colors-violet-on-color-800:  var(--text-white);
  --all-colors-violet-on-color-900:  var(--text-white);
  --all-colors-violet-on-color-050:  var(--text-dark);
  --all-colors-green-color-100: #d7e9c6;
  --all-colors-green-color-200: #b0d38d;
  --all-colors-green-color-300: #88bd54;
  --all-colors-green-color-400: #54a200;
  --all-colors-green-color-500: #308300;
  --all-colors-green-color-600: #006600;
  --all-colors-green-color-700: #004900;
  --all-colors-green-color-800: #0f2a00;
  --all-colors-green-color-900: #001300;
  --all-colors-green-color-050: #ebf4e2;
  --all-colors-green-on-color-100:  var(--text-dark);
  --all-colors-green-on-color-200:  var(--text-dark);
  --all-colors-green-on-color-300:  var(--text-dark);
  --all-colors-green-on-color-400:  var(--text-dark);
  --all-colors-green-on-color-500:  var(--text-white);
  --all-colors-green-on-color-600:  var(--text-white);
  --all-colors-green-on-color-700:  var(--text-white);
  --all-colors-green-on-color-800:  var(--text-white);
  --all-colors-green-on-color-900:  var(--text-white);
  --all-colors-green-on-color-050:  var(--text-dark);
  --all-colors-blue-color-100: #c8e7f3;
  --all-colors-blue-color-200: #8ccee9;
  --all-colors-blue-color-300: #42b5e2;
  --all-colors-blue-color-400: #009bd5;
  --all-colors-blue-color-500: #007bc0;
  --all-colors-blue-color-600: #0068bb;
  --all-colors-blue-color-700: #004fa2;
  --all-colors-blue-color-800: #002940;
  --all-colors-blue-color-900: #00131F;
  --all-colors-blue-color-050: #e3f2f8;
  --all-colors-blue-on-color-100:  var(--text-dark);
  --all-colors-blue-on-color-200:  var(--text-dark);
  --all-colors-blue-on-color-300:  var(--text-dark);
  --all-colors-blue-on-color-400:  var(--text-dark);
  --all-colors-blue-on-color-500:  var(--text-white);
  --all-colors-blue-on-color-600:  var(--text-white);
  --all-colors-blue-on-color-700:  var(--text-white);
  --all-colors-blue-on-color-800:  var(--text-white);
  --all-colors-blue-on-color-900:  var(--text-white);
  --all-colors-blue-on-color-050:  var(--text-dark);
  --all-colors-magenta-color-100: #fbddea;
  --all-colors-magenta-color-200: #f6bad6;
  --all-colors-magenta-color-300: #ef96bF;
  --all-colors-magenta-color-400: #e871a8;
  --all-colors-magenta-color-500: #d03889;
  --all-colors-magenta-color-600: #bf006F;
  --all-colors-magenta-color-700: #9b0052;
  --all-colors-magenta-color-800: #4e002d;
  --all-colors-magenta-color-900: #2c000F;
  --all-colors-magenta-color-050: #fcedf4;
  --all-colors-magenta-on-color-100:  var(--text-dark);
  --all-colors-magenta-on-color-200:  var(--text-dark);
  --all-colors-magenta-on-color-300:  var(--text-dark);
  --all-colors-magenta-on-color-400:  var(--text-dark);
  --all-colors-magenta-on-color-500:  var(--text-white);
  --all-colors-magenta-on-color-600:  var(--text-white);
  --all-colors-magenta-on-color-700:  var(--text-white);
  --all-colors-magenta-on-color-800:  var(--text-white);
  --all-colors-magenta-on-color-900:  var(--text-white);
  --all-colors-magenta-on-color-050:  var(--text-dark);
  --all-colors-success-color-100: #cfe5dd;
  --all-colors-success-color-200: #a0ccbd;
  --all-colors-success-color-300: #72b39b;
  --all-colors-success-color-400: #459b7b;
  --all-colors-success-color-500: #017f52;
  --all-colors-success-color-600: #006433;
  --all-colors-success-color-700: #004918;
  --all-colors-success-color-800: #002a13;
  --all-colors-success-color-900: #001500;
  --all-colors-success-color-050: #e7f2ee;
  --all-colors-success-on-color-100:  var(--text-dark);
  --all-colors-success-on-color-200:  var(--text-dark);
  --all-colors-success-on-color-300:  var(--text-dark);
  --all-colors-success-on-color-400:  var(--text-dark);
  --all-colors-success-on-color-500:  var(--text-white);
  --all-colors-success-on-color-600:  var(--text-white);
  --all-colors-success-on-color-700:  var(--text-white);
  --all-colors-success-on-color-800:  var(--text-white);
  --all-colors-success-on-color-900:  var(--text-white);
  --all-colors-success-on-color-050:  var(--text-dark);
  --all-colors-warning-color-100: #fedb93;
  --all-colors-warning-color-200: #fcb116;
  --all-colors-warning-color-300: #da9400;
  --all-colors-warning-color-400: #c27f0e;
  --all-colors-warning-color-500: #986000;
  --all-colors-warning-color-600: #794700;
  --all-colors-warning-color-700: #5e2e00;
  --all-colors-warning-color-800: #3f1b00;
  --all-colors-warning-color-900: #250500;
  --all-colors-warning-color-050: #fdecc7;
  --all-colors-warning-on-color-100:  var(--text-dark);
  --all-colors-warning-on-color-200:  var(--text-dark);
  --all-colors-warning-on-color-300:  var(--text-dark);
  --all-colors-warning-on-color-400:  var(--text-dark);
  --all-colors-warning-on-color-500:  var(--text-white);
  --all-colors-warning-on-color-600:  var(--text-white);
  --all-colors-warning-on-color-700:  var(--text-white);
  --all-colors-warning-on-color-800:  var(--text-white);
  --all-colors-warning-on-color-900:  var(--text-white);
  --all-colors-warning-on-color-050:  var(--text-dark);
  --all-colors-error-color-100: #fad8d8;
  --all-colors-error-color-200: #f1b1b2;
  --all-colors-error-color-300: #e68b8b;
  --all-colors-error-color-400: #dd6869;
  --all-colors-error-color-500: #c33a3a;
  --all-colors-error-color-600: #ae001a;
  --all-colors-error-color-700: #900000;
  --all-colors-error-color-800: #510000;
  --all-colors-error-color-900: #320000;
  --all-colors-error-color-050: #fceaea;
  --all-colors-error-on-color-100:  var(--text-dark);
  --all-colors-error-on-color-200:  var(--text-dark);
  --all-colors-error-on-color-300:  var(--text-dark);
  --all-colors-error-on-color-400:  var(--text-dark);
  --all-colors-error-on-color-500:  var(--text-white);
  --all-colors-error-on-color-600:  var(--text-white);
  --all-colors-error-on-color-700:  var(--text-white);
  --all-colors-error-on-color-800:  var(--text-white);
  --all-colors-error-on-color-900:  var(--text-white);
  --all-colors-error-on-color-050:  var(--text-dark);
  --all-colors-info-color-100: #dbe2f5;
  --all-colors-info-color-200: #b7c6ea;
  --all-colors-info-color-300: #94aadF;
  --all-colors-info-color-400: #728ed3;
  --all-colors-info-color-500: #5073c7;
  --all-colors-info-color-600: #3057b9;
  --all-colors-info-color-700: #003aa5;
  --all-colors-info-color-800: #00225e;
  --all-colors-info-color-900: #000636;
  --all-colors-info-color-050: #edf1fa;
  --all-colors-info-on-color-100:  var(--text-dark);
  --all-colors-info-on-color-200:  var(--text-dark);
  --all-colors-info-on-color-300:  var(--text-dark);
  --all-colors-info-on-color-400:  var(--text-dark);
  --all-colors-info-on-color-500:  var(--text-white);
  --all-colors-info-on-color-600:  var(--text-white);
  --all-colors-info-on-color-700:  var(--text-white);
  --all-colors-info-on-color-800:  var(--text-white);
  --all-colors-info-on-color-900:  var(--text-white);
  --all-colors-info-on-color-050:  var(--text-dark);
}
[data-mode="dark"] {
  --all-colors-neutral-color-100: #e0e0e7;
  --all-colors-neutral-color-200: #c1c2d0;
  --all-colors-neutral-color-300: #a4a4ba;
  --all-colors-neutral-color-400: #898aa6;
  --all-colors-neutral-color-500: #535474;
  --all-colors-neutral-color-600: #515379;
  --all-colors-neutral-color-700: #373a64;
  --all-colors-neutral-color-800: var(--text-dark);
  --all-colors-neutral-color-900: #1e0002;
  --all-colors-neutral-color-050: #eaeaf1;
  --all-colors-neutral-on-color-100:  var(--text-dark);
  --all-colors-neutral-on-color-200:  var(--text-dark);
  --all-colors-neutral-on-color-300:  var(--text-dark);
  --all-colors-neutral-on-color-400:  var(--text-dark);
  --all-colors-neutral-on-color-500: #cbccd5;
  --all-colors-neutral-on-color-600: #cbcbd7;
  --all-colors-neutral-on-color-700: #c3c4d1;
  --all-colors-neutral-on-color-800: #bdbdc5;
  --all-colors-neutral-on-color-900: #bcb3b3;
  --all-colors-neutral-on-color-050:  var(--text-dark);
  --all-colors-orange-color-100: #f7c4a9;
  --all-colors-orange-color-200: #f0a680;
  --all-colors-orange-color-300: #e88857;
  --all-colors-orange-color-400: #e06a2e;
  --all-colors-orange-color-500: #992f00;
  --all-colors-orange-color-600: #802300;
  --all-colors-orange-color-700: #671800;
  --all-colors-orange-color-800: #4d0c00;
  --all-colors-orange-color-900: #340000;
  --all-colors-orange-color-050: #ffe2d2;
  --all-colors-orange-on-color-100:  var(--text-dark);
  --all-colors-orange-color-200:  var(--text-dark);
  --all-colors-orange-color-300:  var(--text-dark);
  --all-colors-orange-color-400:  var(--text-dark);
  --all-colors-orange-color-500: #e0c1b3;
  --all-colors-orange-color-600: #d9bdb3;
  --all-colors-orange-color-700: #d1bab3;
  --all-colors-orange-color-800: #cab6b3;
  --all-colors-orange-color-900: #c2b3b3;
  --all-colors-orange-color-050:  var(--text-dark);
  --all-colors-yellow-color-100: #ecca85;
  --all-colors-yellow-color-200: #dcb15d;
  --all-colors-yellow-color-300: #cc9936;
  --all-colors-yellow-color-400: #bc800e;
  --all-colors-yellow-color-500: #794c00;
  --all-colors-yellow-color-600: #613b00;
  --all-colors-yellow-color-700: #4a2900;
  --all-colors-yellow-color-800: #321800;
  --all-colors-yellow-color-900: #1a0600;
  --all-colors-yellow-color-050: #fce2ac;
  --all-colors-yellow-on-color-100:  var(--text-dark);
  --all-colors-yellow-on-color-200:  var(--text-dark);
  --all-colors-yellow-on-color-300:  var(--text-dark);
  --all-colors-yellow-on-color-400:  var(--text-dark);
  --all-colors-yellow-on-color-500: #d7c9b3;
  --all-colors-yellow-on-color-600: #d0c4b3;
  --all-colors-yellow-on-color-700: #c9bfb3;
  --all-colors-yellow-on-color-800: #c2bab3;
  --all-colors-yellow-on-color-900: #bab4b3;
  --all-colors-yellow-on-color-050:  var(--text-dark);
  --all-colors-aqua-color-100: #a2dcd7;
  --all-colors-aqua-color-200: #6cc7c0;
  --all-colors-aqua-color-300: #36b2a8;
  --all-colors-aqua-color-400: #009d91;
  --all-colors-aqua-color-500: #006155;
  --all-colors-aqua-color-600: #004d44;
  --all-colors-aqua-color-700: #003933;
  --all-colors-aqua-color-800: #002522;
  --all-colors-aqua-color-900: #001111;
  --all-colors-aqua-color-050: #d8f1ee;
  --all-colors-aqua-on-color-100:  var(--text-dark);
  --all-colors-aqua-on-color-200:  var(--text-dark);
  --all-colors-aqua-on-color-300:  var(--text-dark);
  --all-colors-aqua-on-color-400:  var(--text-dark);
  --all-colors-aqua-on-color-500: #b3d0cc;
  --all-colors-aqua-on-color-600: #b3cac7;
  --all-colors-aqua-on-color-700: #b3c4c2;
  --all-colors-aqua-on-color-800: #b3bebd;
  --all-colors-aqua-on-color-900: #b3b8b8;
  --all-colors-aqua-on-color-050:  var(--text-dark);
  --all-colors-violet-color-100: #cfd3e8;
  --all-colors-violet-color-200: #b5bbda;
  --all-colors-violet-color-300: #9aa2cc;
  --all-colors-violet-color-400: #808abe;
  --all-colors-violet-color-500: #40548e;
  --all-colors-violet-color-600: #30426e;
  --all-colors-violet-color-700: #20314e;
  --all-colors-violet-color-800: #101f2d;
  --all-colors-violet-color-900: #000d0d;
  --all-colors-violet-color-050: #e9ebf6;
  --all-colors-violet-on-color-100:  var(--text-dark);
  --all-colors-violet-on-color-200:  var(--text-dark);
  --all-colors-violet-on-color-300:  var(--text-dark);
  --all-colors-violet-on-color-400:  var(--text-dark);
  --all-colors-violet-on-color-500: #c6ccdd;
  --all-colors-violet-on-color-600: #c1c6d4;
  --all-colors-violet-on-color-700: #bcc1ca;
  --all-colors-violet-on-color-800: #b7bcc0;
  --all-colors-violet-on-color-00: #b3b6b6;
  --all-colors-violet-on-color-050:  var(--text-dark);
  --all-colors-green-color-100: #c0daa6;
  --all-colors-green-color-200: #9fc679;
  --all-colors-green-color-300: #7db14b;
  --all-colors-green-color-400: #5c9c1d;
  --all-colors-green-color-500: #1c6300;
  --all-colors-green-color-600: #154e00;
  --all-colors-green-color-700: #0e3a00;
  --all-colors-green-color-800: #072500;
  --all-colors-green-color-900: #001000;
  --all-colors-green-color-050: #e1efd4;
  --all-colors-green-on-color-100:  var(--text-dark);
  --all-colors-green-on-color-200:  var(--text-dark);
  --all-colors-green-on-color-300:  var(--text-dark);
  --all-colors-green-on-color-400:  var(--text-dark);
  --all-colors-green-on-color-500: #bbd0b3;
  --all-colors-green-on-color-600: #b9cab3;
  --all-colors-green-on-color-700: #b7c4b3;
  --all-colors-green-on-color-800: #b5beb3;
  --all-colors-green-on-color-900: #b3b7b3;
  --all-colors-green-on-color-050:  var(--text-dark);
  --all-colors-blue-color-100: #9fd7ec;
  --all-colors-blue-color-200: #6ac1e2;
  --all-colors-blue-color-300: #35acd9;
  --all-colors-blue-color-400: #0096cF;
  --all-colors-blue-color-500: #005799;
  --all-colors-blue-color-600: #00457a;
  --all-colors-blue-color-700: #00335b;
  --all-colors-blue-color-800: #00213c;
  --all-colors-blue-color-900: #000f1d;
  --all-colors-blue-color-050: #d4ecf5;
  --all-colors-blue-on-color-100:  var(--text-dark);
  --all-colors-blue-on-color-200:  var(--text-dark);
  --all-colors-blue-on-color-300:  var(--text-dark);
  --all-colors-blue-on-color-400:  var(--text-dark);
  --all-colors-blue-on-color-500: #b3cde0;
  --all-colors-blue-on-color-600: #b3c7d7;
  --all-colors-blue-on-color-700: #b3c2ce;
  --all-colors-blue-on-color-800: #b3bcc5;
  --all-colors-blue-on-color-900: #b3b7bb;
  --all-colors-blue-on-color-050:  var(--text-dark);
  --all-colors-magenta-color-100: #f3c4da;
  --all-colors-magenta-color-200: #eba4c5;
  --all-colors-magenta-color-300: #e284b0;
  --all-colors-magenta-color-400: #da649b;
  --all-colors-magenta-color-500: #9b005c;
  --all-colors-magenta-color-600: #7f0048;
  --all-colors-magenta-color-700: #630034;
  --all-colors-magenta-color-800: #460020;
  --all-colors-magenta-color-900: #2a000c;
  --all-colors-magenta-color-050: #fbe4eF;
  --all-colors-magenta-on-color-100:  var(--text-dark);
  --all-colors-magenta-on-color-200:  var(--text-dark);
  --all-colors-magenta-on-color-300:  var(--text-dark);
  --all-colors-magenta-on-color-400:  var(--text-dark);
  --all-colors-magenta-on-color-500: #e1b3ce;
  --all-colors-magenta-on-color-600: #d9b3c8;
  --all-colors-magenta-on-color-700: #d0b3c2;
  --all-colors-magenta-on-color-800: #c8b3bc;
  --all-colors-magenta-on-color-900: #bfb3b6;
  --all-colors-magenta-on-color-050:  var(--text-dark);
  --all-colors-success-color-100: #cfe5dd;
  --all-colors-success-color-200: #a0ccbd;
  --all-colors-success-color-300: #72b39b;
  --all-colors-success-color-400: #459b7b;
  --all-colors-success-color-500: #006238;
  --all-colors-success-color-600: #006232;
  --all-colors-success-color-700: #004816;
  --all-colors-success-color-800: #002912;
  --all-colors-success-color-900: #001300;
  --all-colors-success-color-050: #dbebe5;
  --all-colors-success-on-color-100:  var(--text-dark);
  --all-colors-success-on-color-200:  var(--text-dark);
  --all-colors-success-on-color-300:  var(--text-dark);
  --all-colors-success-on-color-400:  var(--text-dark);
  --all-colors-success-on-color-500: #b3d0c3;
  --all-colors-success-on-color-600: #b3d0c2;
  --all-colors-success-on-color-700: #b3c8b9;
  --all-colors-success-on-color-800: #b3bfb8;
  --all-colors-success-on-color-900: #b3b8b3;
  --all-colors-success-on-color-050:  var(--text-dark);
  --all-colors-warning-color-100: #ecca85;
  --all-colors-warning-color-200: #dcb15d;
  --all-colors-warning-color-300: #cc9936;
  --all-colors-warning-color-400: #bc800e;
  --all-colors-warning-color-500: #794c00;
  --all-colors-warning-color-600: #613b00;
  --all-colors-warning-color-700: #4a2900;
  --all-colors-warning-color-800: #321800;
  --all-colors-warning-color-900: #1a0600;
  --all-colors-warning-color-050: #fce2ac;
  --all-colors-warning-on-color-100:  var(--text-dark);
  --all-colors-warning-on-color-200:  var(--text-dark);
  --all-colors-warning-on-color-300:  var(--text-dark);
  --all-colors-warning-on-color-400:  var(--text-dark);
  --all-colors-warning-on-color-500: #d7c9b3;
  --all-colors-warning-on-color-600: #d0c4b3;
  --all-colors-warning-on-color-700: #c9bfb3;
  --all-colors-warning-on-color-800: #c2bab3;
  --all-colors-warning-on-color-900: #bab4b3;
  --all-colors-warning-on-color-050:  var(--text-dark);
  --all-colors-error-color-100: #f3c2c2;
  --all-colors-error-color-200: #eba4a5;
  --all-colors-error-color-300: #e48687;
  --all-colors-error-color-400: #dc6869;
  --all-colors-error-color-500: #a11522;
  --all-colors-error-color-600: #85101a;
  --all-colors-error-color-700: #6a0b11;
  --all-colors-error-color-800: #4e0509;
  --all-colors-error-color-900: #320000;
  --all-colors-error-color-050: #fae0e0;
  --all-colors-error-on-color-100:  var(--text-dark);
  --all-colors-error-on-color-200:  var(--text-dark);
  --all-colors-error-on-color-300:  var(--text-dark);
  --all-colors-error-on-color-400:  var(--text-dark);
  --all-colors-error-on-color-500: #e3b9bd;
  --all-colors-error-on-color-600: #dab7ba;
  --all-colors-error-on-color-700: #d2b6b8;
  --all-colors-error-on-color-800: #cab4b5;
  --all-colors-error-on-color-900: #c2b3b3;
  --all-colors-error-on-color-050:  var(--text-dark);
  --all-colors-info-color-100: #dbe2f5;
  --all-colors-info-color-200: #b7c6ea;
  --all-colors-info-color-300: #94aadF;
  --all-colors-info-color-400: #728ed3;
  --all-colors-info-color-500: #2353a2;
  --all-colors-info-color-600: #2350b1;
  --all-colors-info-color-700: #003a9e;
  --all-colors-info-color-800: #00215c;
  --all-colors-info-color-900: #000635;
  --all-colors-info-color-050: #e4eaf8;
  --all-colors-info-on-color-100:  var(--text-dark);
  --all-colors-info-on-color-200:  var(--text-dark);
  --all-colors-info-on-color-300:  var(--text-dark);
  --all-colors-info-on-color-400:  var(--text-dark);
  --all-colors-info-on-color-500: #bdcbe3;
  --all-colors-info-on-color-600: #bdcbe8;
  --all-colors-info-on-color-700: #b3c4e2;
  --all-colors-info-on-color-800: #b3bcce;
  --all-colors-info-on-color-900: #b3b4c2;
}
[data-mode="aaa-dark-mode"] {
  --all-colors-neutral-color-100: #e0e0e7;
  --all-colors-neutral-color-200: #c1c2d0;
  --all-colors-neutral-color-300: #a4a4ba;
  --all-colors-neutral-color-400: #898aa6;
  --all-colors-neutral-color-500: #535474;
  --all-colors-neutral-color-600: #515379;
  --all-colors-neutral-color-700: #373a64;
  --all-colors-neutral-color-800: var(--text-dark);
  --all-colors-neutral-color-900: #1e0002;
  --all-colors-neutral-color-050: #eaeaf1;
  --all-colors-neutral-on-color-100:  var(--text-dark);
  --all-colors-neutral-on-color-200:  var(--text-dark);
  --all-colors-neutral-on-color-300:  var(--text-dark);
  --all-colors-neutral-on-color-400:  var(--text-dark);
  --all-colors-neutral-on-color-500: #cbccd5;
  --all-colors-neutral-on-color-600: #cbcbd7;
  --all-colors-neutral-on-color-700: #c3c4d1;
  --all-colors-neutral-on-color-800: #bdbdc5;
  --all-colors-neutral-on-color-900: #bcb3b3;
  --all-colors-neutral-on-color-050:  var(--text-dark);
  --all-colors-orange-color-100: #f7c4a9;
  --all-colors-orange-color-200: #f0a680;
  --all-colors-orange-color-300: #e88857;
  --all-colors-orange-color-400: #e06a2e;
  --all-colors-orange-color-500: #992f00;
  --all-colors-orange-color-600: #802300;
  --all-colors-orange-color-700: #671800;
  --all-colors-orange-color-800: #4d0c00;
  --all-colors-orange-color-900: #340000;
  --all-colors-orange-color-050: #ffe2d2;
  --all-colors-orange-on-color-100:  var(--text-dark);
  --all-colors-orange-on-color-200:  var(--text-dark);
  --all-colors-orange-on-color-300:  var(--text-dark);
  --all-colors-orange-on-color-400:  var(--text-dark);
  --all-colors-orange-on-color-500: #e0c1b3;
  --all-colors-orange-on-color-600: #d9bdb3;
  --all-colors-orange-on-color-700: #d1bab3;
  --all-colors-orange-on-color-800: #cab6b3;
  --all-colors-orange-on-color-900: #c2b3b3;
  --all-colors-orange-on-color-050:  var(--text-dark);
  --all-colors-yellow-color-100: #ecca85;
  --all-colors-yellow-color-200: #dcb15d;
  --all-colors-yellow-color-300: #cc9936;
  --all-colors-yellow-color-400: #bc800e;
  --all-colors-yellow-color-500: #794c00;
  --all-colors-yellow-color-600: #613b00;
  --all-colors-yellow-color-700: #4a2900;
  --all-colors-yellow-color-800: #321800;
  --all-colors-yellow-color-900: #1a0600;
  --all-colors-yellow-color-050: #fce2ac;
  --all-colors-yellow-on-color-100:  var(--text-dark);
  --all-colors-yellow-on-color-200:  var(--text-dark);
  --all-colors-yellow-on-color-300:  var(--text-dark);
  --all-colors-yellow-on-color-400:  var(--text-dark);
  --all-colors-yellow-on-color-500: #d7c9b3;
  --all-colors-yellow-on-color-600: #d0c4b3;
  --all-colors-yellow-on-color-700: #c9bfb3;
  --all-colors-yellow-on-color-800: #c2bab3;
  --all-colors-yellow-on-color-900: #bab4b3;
  --all-colors-yellow-on-color-050:  var(--text-dark);
  --all-colors-aqua-color-100: #a2dcd7;
  --all-colors-aqua-color-200: #6cc7c0;
  --all-colors-aqua-color-300: #36b2a8;
  --all-colors-aqua-color-400: #009d91;
  --all-colors-aqua-color-500: #006155;
  --all-colors-aqua-color-600: #004d44;
  --all-colors-aqua-color-700: #003933;
  --all-colors-aqua-color-800: #002522;
  --all-colors-aqua-color-900: #001111;
  --all-colors-aqua-color-050: #d8f1ee;
  --all-colors-aqua-on-color-100:  var(--text-dark);
  --all-colors-aqua-on-color-200:  var(--text-dark);
  --all-colors-aqua-on-color-300:  var(--text-dark);
  --all-colors-aqua-on-color-400:  var(--text-dark);
  --all-colors-aqua-on-color-500: #b3d0cc;
  --all-colors-aqua-on-color-600: #b3cac7;
  --all-colors-aqua-on-color-700: #b3c4c2;
  --all-colors-aqua-on-color-800: #b3bebd;
  --all-colors-aqua-on-color-900: #b3b8b8;
  --all-colors-aqua-on-color-050:  var(--text-dark);
  --all-colors-violet-color-100: #cfd3e8;
  --all-colors-violet-color-200: #b5bbda;
  --all-colors-violet-color-300: #9aa2cc;
  --all-colors-violet-color-400: #808abe;
  --all-colors-violet-color-500: #40548e;
  --all-colors-violet-color-600: #30426e;
  --all-colors-violet-color-700: #20314e;
  --all-colors-violet-color-800: #101f2d;
  --all-colors-violet-color-900: #000d0d;
  --all-colors-violet-color-050: #e9ebf6;
  --all-colors-violet-on-color-100:  var(--text-dark);
  --all-colors-violet-on-color-200:  var(--text-dark);
  --all-colors-violet-on-color-300:  var(--text-dark);
  --all-colors-violet-on-color-400:  var(--text-dark);
  --all-colors-violet-on-color-500: #c6ccdd;
  --all-colors-violet-on-color-600: #c1c6d4;
  --all-colors-violet-on-color-700: #bcc1ca;
  --all-colors-violet-on-color-800: #b7bcc0;
  --all-colors-violet-on-color-00: #b3b6b6;
  --all-colors-violet-on-color-050:  var(--text-dark);
  --all-colors-green-color-100: #c0daa6;
  --all-colors-green-color-200: #9fc679;
  --all-colors-green-color-300: #7db14b;
  --all-colors-green-color-400: #5c9c1d;
  --all-colors-green-color-500: #1c6300;
  --all-colors-green-color-600: #154e00;
  --all-colors-green-color-700: #0e3a00;
  --all-colors-green-color-800: #072500;
  --all-colors-green-color-900: #001000;
  --all-colors-green-color-050: #e1efd4;
  --all-colors-green-on-color-100:  var(--text-dark);
  --all-colors-green-on-color-200:  var(--text-dark);
  --all-colors-green-on-color-300:  var(--text-dark);
  --all-colors-green-on-color-400:  var(--text-dark);
  --all-colors-green-on-color-500: #bbd0b3;
  --all-colors-green-on-color-600: #b9cab3;
  --all-colors-green-on-color-700: #b7c4b3;
  --all-colors-green-on-color-800: #b5beb3;
  --all-colors-green-on-color-900: #b3b7b3;
  --all-colors-green-on-color-050:  var(--text-dark);
  --all-colors-blue-color-100: #9fd7ec;
  --all-colors-blue-color-200: #6ac1e2;
  --all-colors-blue-color-300: #35acd9;
  --all-colors-blue-color-400: #0096cF;
  --all-colors-blue-color-500: #005799;
  --all-colors-blue-color-600: #00457a;
  --all-colors-blue-color-700: #00335b;
  --all-colors-blue-color-800: #00213c;
  --all-colors-blue-color-900: #000f1d;
  --all-colors-blue-color-050: #d4ecf5;
  --all-colors-blue-on-color-100:  var(--text-dark);
  --all-colors-blue-on-color-200:  var(--text-dark);
  --all-colors-blue-on-color-300:  var(--text-dark);
  --all-colors-blue-on-color-400:  var(--text-dark);
  --all-colors-blue-on-color-500: #b3cde0;
  --all-colors-blue-on-color-600: #b3c7d7;
  --all-colors-blue-on-color-700: #b3c2ce;
  --all-colors-blue-on-color-800: #b3bcc5;
  --all-colors-blue-on-color-900: #b3b7bb;
  --all-colors-blue-on-color-050:  var(--text-dark);
  --all-colors-magenta-color-100: #f3c4da;
  --all-colors-magenta-color-200: #eba4c5;
  --all-colors-magenta-color-300: #e284b0;
  --all-colors-magenta-color-400: #da649b;
  --all-colors-magenta-color-500: #9b005c;
  --all-colors-magenta-color-600: #7f0048;
  --all-colors-magenta-color-700: #630034;
  --all-colors-magenta-color-800: #460020;
  --all-colors-magenta-color-900: #2a000c;
  --all-colors-magenta-color-050: #fbe4eF;
  --all-colors-magenta-on-color-100:  var(--text-dark);
  --all-colors-magenta-on-color-200:  var(--text-dark);
  --all-colors-magenta-on-color-300:  var(--text-dark);
  --all-colors-magenta-on-color-400:  var(--text-dark);
  --all-colors-magenta-on-color-500: #e1b3ce;
  --all-colors-magenta-on-color-600: #d9b3c8;
  --all-colors-magenta-on-color-700: #d0b3c2;
  --all-colors-magenta-on-color-800: #c8b3bc;
  --all-colors-magenta-on-color-900: #bfb3b6;
  --all-colors-magenta-on-color-050:  var(--text-dark);
  --all-colors-success-color-100: #cfe5dd;
  --all-colors-success-color-200: #a0ccbd;
  --all-colors-success-color-300: #72b39b;
  --all-colors-success-color-400: #459b7b;
  --all-colors-success-color-500: #006238;
  --all-colors-success-color-600: #006232;
  --all-colors-success-color-700: #004816;
  --all-colors-success-color-800: #002912;
  --all-colors-success-color-900: #001300;
  --all-colors-success-color-050: #dbebe5;
  --all-colors-success-on-color-100:  var(--text-dark);
  --all-colors-success-on-color-200:  var(--text-dark);
  --all-colors-success-on-color-300:  var(--text-dark);
  --all-colors-success-on-color-400:  var(--text-dark);
  --all-colors-success-on-color-500: #b3d0c3;
  --all-colors-success-on-color-600: #b3d0c2;
  --all-colors-success-on-color-700: #b3c8b9;
  --all-colors-success-on-color-800: #b3bfb8;
  --all-colors-success-on-color-900: #b3b8b3;
  --all-colors-success-on-color-050:  var(--text-dark);
  --all-colors-warning-color-100: #ecca85;
  --all-colors-warning-color-200: #dcb15d;
  --all-colors-warning-color-300: #cc9936;
  --all-colors-warning-color-400: #bc800e;
  --all-colors-warning-color-500: #794c00;
  --all-colors-warning-color-600: #613b00;
  --all-colors-warning-color-700: #4a2900;
  --all-colors-warning-color-800: #321800;
  --all-colors-warning-color-900: #1a0600;
  --all-colors-warning-color-050: #fce2ac;
  --all-colors-warning-on-color-100:  var(--text-dark);
  --all-colors-warning-on-color-200:  var(--text-dark);
  --all-colors-warning-on-color-300:  var(--text-dark);
  --all-colors-warning-on-color-400:  var(--text-dark);
  --all-colors-warning-on-color-500: #d7c9b3;
  --all-colors-warning-on-color-600: #d0c4b3;
  --all-colors-warning-on-color-700: #c9bfb3;
  --all-colors-warning-on-color-800: #c2bab3;
  --all-colors-warning-on-color-900: #bab4b3;
  --all-colors-warning-on-color-050:  var(--text-dark);
  --all-colors-error-color-100: #f3c2c2;
  --all-colors-error-color-200: #eba4a5;
  --all-colors-error-color-300: #e48687;
  --all-colors-error-color-400: #dc6869;
  --all-colors-error-color-500: #a11522;
  --all-colors-error-color-600: #85101a;
  --all-colors-error-color-700: #6a0b11;
  --all-colors-error-color-800: #4e0509;
  --all-colors-error-color-900: #320000;
  --all-colors-error-color-050: #fae0e0;
  --all-colors-error-on-color-100:  var(--text-dark);
  --all-colors-error-on-color-200:  var(--text-dark);
  --all-colors-error-on-color-300:  var(--text-dark);
  --all-colors-error-on-color-400:  var(--text-dark);
  --all-colors-error-on-color-500: #e3b9bd;
  --all-colors-error-on-color-600: #dab7ba;
  --all-colors-error-on-color-700: #d2b6b8;
  --all-colors-error-on-color-800: #cab4b5;
  --all-colors-error-on-color-900: #c2b3b3;
  --all-colors-error-on-color-050:  var(--text-dark);
  --all-colors-info-color-100: #dbe2f5;
  --all-colors-info-color-200: #b7c6ea;
  --all-colors-info-color-300: #94aadF;
  --all-colors-info-color-400: #728ed3;
  --all-colors-info-color-500: #2353a2;
  --all-colors-info-color-600: #2350b1;
  --all-colors-info-color-700: #003a9e;
  --all-colors-info-color-800: #00215c;
  --all-colors-info-color-900: #000635;
  --all-colors-info-color-050: #e4eaf8;
  --all-colors-info-on-color-100:  var(--text-dark);
  --all-colors-info-on-color-200:  var(--text-dark);
  --all-colors-info-on-color-300:  var(--text-dark);
  --all-colors-info-on-color-400:  var(--text-dark);
  --all-colors-info-on-color-500: #bdcbe3;
  --all-colors-info-on-color-600: #bdcbe8;
  --all-colors-info-on-color-700: #b3c4e2;
  --all-colors-info-on-color-800: #b3bcce;
  --all-colors-info-on-color-900: #b3b4c2;
  --all-colors-info-on-color-050:  var(--text-dark);
}
}
