:root,
::after,
::before  {
  --sizing-min-target: 40px;
  --animation-speed: .5;
  --animation-focus-distance: 8px;
  --mix-in: 0;
  --border-width-line-chart: 2px;
  --border-width-donut: 2px;
  --border-width-pie: 2px;
  --border-width-donut-segments: 2px;
  --border-width-pie-segments: 2px;
  --border-width-card: 1px;
  --border-width-image: 1px;
  --border-width-small-avatar-border: 4px;
  --border-width-large-avatar-border: 8px;
  --border-width-button: 2px;
  --border-width-tab: 4px;
  --border-width-focus: 2px;
  --border-width-none: 0px;
  --elevation-shadow-mix-5: 5;
  --elevation-shadow-mix-4: 4;
  --elevation-shadow-mix-3: 3;
  --elevation-shadow-mix-2: 2;
  --elevation-shadow-mix-1: 1;
  --elevation-shadow-mix-0: 0;
  --dark-mode-light-text-opacity: .7;
  --show-colors-color-12: hidden;
  --show-colors-color-11: hidden;
  --show-colors-color-10: hidden;
  --show-colors-color-9: hidden;
  --show-colors-color-8: block;
  --show-colors-color-7: block;
  --show-colors-color-6: block;
  --show-colors-color-5: block;
  --show-colors-color-4: block;
  --show-colors-color-3: block;
  --show-colors-color-2: block;
  --show-colors-color-1: block;
  --show-colors-tertiary: block;
  --show-colors-secondary: block;
  --color-name-color-8: blue;
  --color-name-color-7: green;
  --color-name-color-6: magenta;
  --color-name-color-5: violet;
  --color-name-color-4: aqua;
  --color-name-color-3: yellow;
  --color-name-color-2: orange;
  /* color-names */
  --color-name-color-1: neutral;
  --overlay-dark-mesh: .5;
  --overlay-white-mesh: .5;
  --focus-border: 2px;
  --focus-blur: 3;
  --container-padding: 16px;
  --tab-line: 4px;
  --image-height: 280px;
  --chip-min-width: 40px;
  --mobile-min-target: 48px;
  --desktop-min-target: 40px;
  --sizing-100: 100%;
  --sizing-1: 8px;
  --sizing-0: 0px;
  --spacing-0: 0px;
  --spacing-1: 8px;
  --accordian-radius: 8px;
  --circle: 100%;
  --radius-1: 8px;
  --visitied: .7;
  --disabled: .38;
  --typography-header-change: 0.39;
  --decorative: block;
  --design-system-name: Test;
  --hotlink-min-target: calc(var(--desktop-min-target) - 16px);
  --sizing-half: calc(var(--sizing-1) / 2);
  --sizing-quarter: calc(var(--sizing-1) / 4);
  --switch-bar-height: 1;
  --animation-distance: var(--sizing-1);
  --dropdown-menu-max-height: calc(calc(var(--desktop-min-target) * 5) + calc(var(--sizing-1) * 2));
  --copyright-height: var(--desktop-min-target);
  --button-height: 4;
  --slider-handle-height: 3;
  --sizing-10: calc(var(--sizing-1) * 10);
  --sizing-9: calc(var(--sizing-1) * 9);
  --sizing-8: calc(var(--sizing-1) * 8);
  --sizing-7: calc(var(--sizing-1) * 7);
  --sizing-6: calc(var(--sizing-1) * 6);
  --sizing-5: calc(var(--sizing-1) * 5);
  --sizing-4: calc(var(--sizing-1) * 4);
  --sizing-3: calc(var(--sizing-1) * 3);
  --sizing-2: calc(var(--sizing-1) * 2);
  --spacing-quarter: calc(var(--spacing-1) / 4);
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);
  --spacing-8: calc(var(--spacing-1) * 8);
  --spacing-9: calc(var(--spacing-1) * 9);
  --spacing-10: calc(var(--spacing-1) * 10);
  --spacing-1-and-half: calc(var(--spacing-1) * 1.5);
  --spacing-half: calc(var(--spacing-1) / 2);
  --small-button-hover-padding: calc(calc(calc(var(--desktop-min-target) - var(--sm-button-height)) / 2) - 3px);
  --secondary-tab-padding: 1;
  --primary-tab-padding: 1;
  --modal-padding: 3;
  --tooltip-padding: 2;
  --toast-padding: 2;
  --secondary-nav-padding: 1;
  --primary-nav-padding: 1;
  --table-body-padding: 1;
  --table-header-padding: 0;
  --paragraph-padding: 2;
  --section-padding: 3;
  --hero-padding: 3;
  --hero-gap: 2 ;
  --card-gap: 2;
  --card-padding: 3;
  --chip-padding: 2;
  --sm-button-padding: 1 ;
  --button-padding: 2;
  --accordian-hover-radius: calc(var(--accordian-radius) + 2px);
  --toast-radius: 1;
  --donut-segments: var(--radius-1);
  --pie-segments: var(--radius-1);
  --tooltip-radius: var(--radius-1);
  --chip-hover-radius: var(--circle);
  --radius-half: calc(var(--radius-1) / 2);
  --radius-quarter: calc(var(--radius-1) / 4);
  --radius-4: calc(var(--radius-1) * 4);
  --radius-3: calc(var(--radius-1) * 3);
  --radius-2: calc(var(--radius-1) * 2);
  --stacked-avatar-spacing-negative: calc(0px - calc(calc(var(--sizing-7) + 6px) - var(--desktop-min-target)));
  --stacked-avatar-spacing: calc(calc(var(--sizing-7) + 6px) - var(--desktop-min-target));
  --slider-rail: .25;
  --switch-handle-height: 3;
  --inline-image-height: 7;
  --chip-height: 3;
  --sm-button-height: 4;
  --button-min-width:10;
  --stacked-avatar-padding: calc(calc(var(--spacing-8) + 6px) - 4px);
  --chip-with-icon-padding: calc(var(--chip-padding) - var(--spacing-half));
  --chip-with-avatar-padding: calc(var(--chip-padding) - var(--spacing-1));
  --footer: var(--spacing-4);
  --sm-button-padding-with-icon: calc(var(--spacing-2) - var(--spacing-1));
  --button-padding-with-icon: calc(var(--button-padding) - var(--spacing-1));
  --bar-segments: var(--radius-half) !important;;
  --modal-radius: var(--radius-2) !important;;
  --slider-handle-radius: 4 !important;;
  --input-radius: var(--radius-half) !important;;
  --inline-sq-image-radius: var(--radius-half) !important;;
  --inline-image-radius: var(--radius-half) !important;;
  --image-radius: 3;
  --card-radius: 3;
  --chip-radius: 3;
  --button-radius: 3;
  --switch-bar-width: calc(calc(var(--switch-handle-height) * 2) - calc(var(--switch-handle-height) / 2)) !important;;
  --slider-handle-hover-radius: calc(var(--slider-handle-radius) + 3px)  !important;;
  --input-hover-radius: calc(var(--input-radius) + 3px) !important;;
  --card-hover-radius: calc(var(--card-radius) + 3px) !important;;
  --button-hover-radius: calc(calc(var(--button-radius) * var(--radius)) + 3px) !important;;
  --popover-radius: 1;
  --backround-border:'';
  --slider-handle-shadow: var(--ridge-1);
  --slider-bar-shadow: var(--ridge-4);
  --button-shadow: var(--ridge-4);
  --chip-shadow: var(--ridge-4);
  --card-shadow: var(--ridge-4);
  --image-shadow: var(--elevation-4);
  --modal-shadow: var(--elevation-5);
  --avatar-shadow: var(--elevation-1);
  --toast-shadow: var(--elevation-3);
  --popover-shadow: var(--elevation-3);
  --button-font-family:;
  --button-font-family:;
  --button-font-weight:;
  --button-font-size:;
  --button-line-height:;
  --button-letter-spacing:;
  --animation-speed: 600ms;
  --animation-distance: 8px;
  --animation-focus-distance: 8px;

  [data-animation="motionSensative"] {
    --animation-speed: 0ms;
    --animation-distance: 0px;
    --animation-focus-distance: 0px;
  }



}
