:root,::before, ::after {
  [data-system="Test"] {
--design-system-name: "Test";
--decorative: block;
--core-colors-transparent: #00000000;
--typography-font-size-base-font: 16;
--typography-header-change: 0.39;
--disabled: .38;--hover: .7;
--disabled-percent: 38;
--hover-percent: 70;
--visitied: .7;
--visitied-percent: 70;
--radius-1: 8px;
--radius-2: calc( var(--radius-1) * 2);
--radius-3: calc( var(--radius-1) * 3);
--radius-4: calc( var(--radius-1) * 4);
--radius-quarter: calc( var(--radius-1) / 4);
--radius-half: calc( var(--radius-1) / 2);
--circle: 100%;
--button-radius: var(--radius-4);
--button-hover-radius: calc( var(--button-radius) + 3px);
--chip-radius: var(--radius-4);
--chip-hover-radius: var(--circle);
--card-radius: var(--radius-1);
--card-hover-radius: calc( var(--card-radius) + 3px);
--image-radius: var(--radius-2);
--inline-image-radius: var(--radius-half);
--inline-sq-image-radius: var(--radius-half);
--input-radius: var(--radius-half);
--input-hover-radius: calc( var(--input-radius) + 3px);
--slider-handle-radius: var(--radius-2);
--modal-radius: var(--radius-2);
--tooltip-radius: var(--radius-1);
--pie-segments: var(--radius-1);
--donut-segments: var(--radius-1);
--bar-segments: var(--radius-half);
--toast-radius: var(--radius-1);
--accordian-radius: var(--radius-1);
--accordian-hover-radius: calc( var(--accordian-radius) + 3px);
--slider-handle-hover-radius: calc( var(--slider-handle-radius) + 3px);
--popover-radius: var(--radius-2);
--avatar-radius: var(--radius-4);
--button-padding: calc( var(--spacing-1) * 2);
--sm-button-padding: calc( var(--spacing-1) * 2);
--chip-padding: calc( var(--spacing-1) * 2);
--card-padding: calc( var(--spacing-1) * 2);
--card-gap: calc( var(--spacing-1) * 2);
--hero-gap: calc( var(--spacing-1) * 2);
--hero-padding: calc( var(--spacing-1) * 3);
--section-padding: calc( var(--spacing-1) * 3);
--paragraph-padding: calc( var(--spacing-1) * 2);
--table-header-padding: calc( var(--spacing-1) * 0);
--table-body-padding: calc( var(--spacing-1) * 1);
--primary-nav-padding: calc( var(--spacing-1) * 1);
--secondary-nav-padding: calc( var(--spacing-1) * 1);
--toast-padding: calc( var(--spacing-1) * 1);
--tooltip-padding: calc( var(--spacing-1) * 1);
--modal-padding: calc( var(--spacing-1) * 3);
--button-padding-with-icon: calc( var(--button-padding) - var(--spacing-half));
--sm-button-padding-with-icon: calc( var(--spacing-2) - var(--spacing-1));
--primary-tab-padding: var(--spacing-1);
--secondary-tab-padding: var(--spacing-1);
--footer: var(--spacing-4);
--small-button-hover-padding: calc(calc( var(--system-min-target) - calc( var(--sm-button-height)) / 2) - 3px);
--chip-with-avatar-padding: calc( var(--chip-padding) - var(--spacing-1));
--chip-with-icon-padding: calc( var(--chip-padding) - var(--spacing-half));
--stacked-avatar-padding: calc(calc( var(--spacing-8) + 6px) - 4px);
--spacing-half: calc( var(--spacing-1) / 2);
--spacing-1-and-half: calc( var(--spacing-1) * calc(1.5));
--spacing-10: calc( var(--spacing-1) * 10);
--spacing-9: calc( var(--spacing-1) * 9);
--spacing-8: calc( var(--spacing-1) * 8);
--spacing-7: calc( var(--spacing-1) * 7);
--spacing-6: calc( var(--spacing-1) * 6);
--spacing-5: calc( var(--spacing-1) * 5);
--spacing-4: calc( var(--spacing-1) * 4);
--spacing-3: calc( var(--spacing-1) * 3);
--spacing-2: calc( var(--spacing-1) * 2);
--spacing-1: 8px;
--spacing-0: 0;
--spacing-quarter: calc( var(--spacing-1) / 4);
--sizing-0: 0;
--sizing-1: 8px;
--sizing-2: calc( var(--sizing-1) * 2);
--sizing-3: calc( var(--sizing-1) * 3);
--sizing-4: calc( var(--sizing-1) * 4);
--sizing-5: calc( var(--sizing-1) * 5);
--sizing-6: calc( var(--sizing-1) * 6);
--sizing-7: calc( var(--sizing-1) * 7);
--sizing-8: calc( var(--sizing-1) * 8);
--sizing-9: calc( var(--sizing-1) * 9);
--sizing-10: calc( var(--sizing-1) * 10);
--sizing-1-and-half: calc( var(--sizing-1) * 1.5);
--sizing-100: 100%;
--button-height:  var(--sizing-4);
--button-min-height:  var(--sizing-4);
--button-min-width: var(--sizing-10);
--sm-button-height: var(--sizing-3);
--chip-height: var(--sizing-3);
--chip-min-width: 40px;
--slider-handle-height: calc( var(--sizing-1) * 2);
--image-height: 280;
--inline-image-height: var(--sizing-7);
--copyright-height: var(--system-min-target);
--dropdown-menu-max-height: calc(calc( var(--system-min-target) * 5) + calc( var(--sizing-1) * 2));
--tab-line: 4px;
--animation-distance: var(--sizing-1);
--switch-bar-height: var(--sizing-1);
--switch-handle-height: var(--sizing-3);
--slider-rail: var(--sizing-quarter);
--stacked-avatar-spacing: calc( var(--sizing-7) + 6 - var(--system-min-target));
--stacked-avatar-spacing-negative: calc(0 - var(--sizing-7) + 6px - var(--system-min-target));
--switch-bar-width: calc(calc( var(--switch-handle-height) * 2) - calc( var(--switch-handle-height) / 2));
--sizing-quarter: calc( var(--sizing-1) / 4);
--sizing-half: calc( var(--sizing-1) / 2);
--hotlink-min-target: calc( var(--system-min-target) - 16px);
--sizing-banner-height: 400;
--focus-blur: 3px;
--focus-border: 2px;
--chart-lines: .25;
--overlay-white-mesh: .5;
--overlay-dark-mesh: .5;
--color-name-color-1: "neutral";
--color-name-color-2: "orange";
--color-name-color-3: "yellow";
--color-name-color-4: "aqua";
--color-name-color-5: "violet";
--color-name-color-6: "magenta";
--color-name-color-7: "green";
--color-name-color-8: "blue";
--show-colors-secondary: block;
--show-colors-tertiary: block;
--show-colors-color-1: block;
--show-colors-color-2: block;
--show-colors-color-3: block;
--show-colors-color-4: block;
--show-colors-color-5: block;
--show-colors-color-6: block;
--show-colors-color-7: block;
--show-colors-color-8: block;
--show-colors-color-9: none;
--show-colors-color-10: none;
--show-colors-olor-11: none;
--show-colors-color-12: none;
--dark-mode-light-text-opacity: .7;
--border-width-none: 0px;
--border-width-focus: 2px;
--border-width-tab: 4px;
--border-width-button: 2px;
--border-width-large-avatar-border: 8px;
--border-width-mall-avatar-border: 4px;
--border-width-image: 1px;
--border-width-card: 1px;
--border-width-pie-segments: 2px;
--border-width-donut-segments: 2px;
--border-width-pie: 2px;
--border-width-donut: 2px;
--border-width-line-chart: 2px;
--mix-in: 0;
--bevel-info-rGB-light: 255,255,255;
--bevel-info-rGB-dark: 0,0,0;
--bevel-info-reverse-horizontal: -2px;
--bevel-info-reverse-verical: -2px;
--bevel-info-change: 0.17;
--bevel-info-horizontal: 6px;
--bevel-info-vertical: 6px;
--bevel-info-spread: 1px;
--bevel-info-blur: 6px;
--bevel-info-dark-opacity: .15;
--bevel-info-dark-opacity-level-2: calc( var(--bevel-info-dark-opacity) * calc(1 + calc( var(--bevel-info-change) * 2)));
--bevel-info-dark-opacity-level-3: calc( var(--bevel-info-dark-opacity) * calc(1 + calc( var(--bevel-info-change) * 3)));
--bevel-info-dark-opacity-level-4: calc( var(--bevel-info-dark-opacity) * calc(1 + calc( var(--bevel-info-change) * 4)));
--bevel-info-dark-opacity-level-5: calc( var(--bevel-info-dark-opacity) * calc(1 + calc( var(--bevel-info-change) * 5)));
--bevel-info-light-opacity-level-2: calc( var(--bevel-info-light-opacity) * calc(1 + calc( var(--bevel-info-change) * 2)));
--bevel-info-light-opacity-level-3: calc( var(--bevel-info-light-opacity) * calc(1 + calc( var(--bevel-info-change) * 3)));
--bevel-info-light-opacity-level-4: calc( var(--bevel-info-light-opacity) * calc(1 + calc( var(--bevel-info-change) * 4)));
--bevel-info-light-opacity-level-5: calc( var(--bevel-info-light-opacity) * calc(1 + calc( var(--bevel-info-change) * 5)));
--base-info-spread: 3px;
--base-info-blur: 5px;
--base-info-opacity: 2%;
--base-info-rGB: 0,0,0;
--base-info-hange: .02;
--base-info-opacity-level-2: calc( var(--base-info-opacity) * 2);
--base-info-opacity-level-3: calc( var(--base-info-opacity) * 3);
--base-info-opacity-level-4: calc( var(--base-info-opacity) * 4);
--base-info-opacity-level-5: calc( var(--base-info-opacity) * 5);
--elevation-info-change: .02;
--elevation-info-horizontal: 2px;
--elevation-info-vertical: 2px;
--elevation-info-spread: 1px;
--elevation-info-blur: 2px;
--elevation-info-opacity: 2%;
--elevation-info-rGB: 0,0,0;
--elevation-info-opacity-level-2: calc( var(--elevation-info-opacity) * 2);
--elevation-info-opacity-level-3: calc( var(--elevation-info-opacity) * 3);
--elevation-info-opacity-level-4: calc( var(--elevation-info-opacity) * 4);
--elevation-info-opacity-level-5: calc( var(--elevation-info-opacity) * 5);
--glow-info-rGB: 65, 128, 203;
--glow-info-spread: 2px;
--glow-info-blur: 2px;
--glow-info-opacity: 0.04;
--glow-info-change: 0.26;
--shadow-info-ridge: 2px;
--animation-focus-distance: 8px;
--animation-speed: .5s;
--paragraph-spacing-none: 0;
--elevations-drop-1-horizontal-0: calc( var(--elevation-info-horizontal) * calc(0 + calc(0 * var(--elevation-info-change))));
--elevations-drop-1-horizontal-1: 0;
--elevations-drop-1-horizontal-2: calc( var(--elevation-info-horizontal) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-1-horizontal-3: calc( var(--elevation-info-horizontal) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-1-horizontal-4: calc( var(--elevation-info-horizontal) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-1-horizontal-5: calc( var(--elevation-info-horizontal) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-1-vertical-0: calc( var(--elevation-info-vertical) * calc(0 + calc(0 * var(--elevation-info-change))));
--elevations-drop-1-vertical-1: calc( var(--elevation-info-vertical) * calc(0 + calc(1 * var(--elevation-info-change))));
--elevations-drop-1-vertical-2: calc( var(--elevation-info-vertical) * calc(0 + calc(2 * var(--elevation-info-change))));
--elevations-drop-1-vertical-3: calc( var(--elevation-info-vertical) * calc(0 + calc(3 * var(--elevation-info-change))));
--elevations-drop-1-vertical-4: calc( var(--elevation-info-vertical) * calc(0 + calc(4 * var(--elevation-info-change))));
--elevations-drop-1-vertical-5: calc( var(--elevation-info-vertical) * calc(0 + calc(5 * var(--elevation-info-change))));
--elevations-drop-1-blur-0: calc(calc( var(--elevation-info-blur) * calc(1 + calc(0 * var(--elevation-info-change})))));
--elevations-drop-1-blur-1: 1px;
--elevations-drop-1-blur-2: calc( var(--elevation-info-blur) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-1-blur-3: calc( var(--elevation-info-blur) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-1-blur-4: calc( var(--elevation-info-blur) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-1-blur-5: calc( var(--elevation-info-blur) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-1-spread-0: calc( var(--elevation-info-spread) * calc(1 + calc(0 * var(--elevation-info-change))));
--elevations-drop-1-spread-1: -1px;
--elevations-drop-1-spread-2: calc( var(--elevation-info-spread) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-1-spread-3: calc( var(--elevation-info-spread) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-1-spread-4: calc( var(--elevation-info-spread) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-1-spread-5: calc( var(--elevation-info-spread) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-0: calc(var(--elevation-info-horizontal) * calc(0 + calc(0 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-1: calc(var(--elevation-info-horizontal) * calc(1 + calc(1 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-2: calc(var(--elevation-info-horizontal) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-3: calc(var(--elevation-info-horizontal) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-4: calc(var(--elevation-info-horizontal) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-2-horizontal-5: calc(var(--elevation-info-horizontal) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-2-vertical-0: calc(var(--elevation-info-vertical) * calc(0 + calc(0 * var(--elevation-info-change))));
--elevations-drop-2-vertical-1: calc(var(--elevation-info-vertical) * calc(0 + calc(1 * var(--elevation-info-change))));
--elevations-drop-2-vertical-2: calc(var(--elevation-info-vertical) * calc(0 + calc(2 * var(--elevation-info-change))));
--elevations-drop-2-vertical-3: calc(var(--elevation-info-vertical) * calc(0 + calc(3 * var(--elevation-info-change))));
--elevations-drop-2-vertical-4: calc(var(--elevation-info-vertical) * calc(0 + calc(4 * var(--elevation-info-change))));
--elevations-drop-2-vertical-5: calc(var(--elevation-info-vertical) * calc(0 + calc(5 * var(--elevation-info-change))));
--elevations-drop-2-blur-0: calc(var(--elevation-info-blur) * calc(1 + calc(0 * var(--elevation-info-change))));
--elevations-drop-2-blur-1: calc(var(--elevation-info-blur) * calc(1 + calc(1 * var(--elevation-info-change))));
--elevations-drop-2-blur-2: calc(var(--elevation-info-blur) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-2-blur-3: calc(var(--elevation-info-blur) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-2-blur-4: calc(var(--elevation-info-blur) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-2-blur-5: calc(var(--elevation-info-blur) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-2-spread-0: calc(var(--elevation-info-spread) * calc(1 + calc(0 * var(--elevation-info-change))));
--elevations-drop-2-spread-1: calc(var(--elevation-info-spread) * calc(1 + calc(1 * var(--elevation-info-change))));
--elevations-drop-2-spread-2: calc(var(--elevation-info-spread) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-2-spread-3: calc(var(--elevation-info-spread) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-2-spread-4: calc(var(--elevation-info-spread) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-2-spread-5: calc(var(--elevation-info-spread) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-3-horizontal-0: 0;
--elevations-drop-3-horizontal-1: 0;
--elevations-drop-3-horizontal-2: 0;
--elevations-drop-3-horizontal-3: 0;
--elevations-drop-3-horizontal-4: 0;
--elevations-drop-3-horizontal-5: 0;
--elevations-drop-3-vertical-0: 0;
--elevations-drop-3-vertical-1: 0;
--elevations-drop-3-vertical-2: 0;
--elevations-drop-3-vertical-3: 0;
--elevations-drop-3-vertical-4: 0;
--elevations-drop-3-vertical-5: 0;
--elevations-drop-3-blur-0: calc(var(--base-info-blur) * calc(1 + calc(0 * var(--elevation-info-change))));
--elevations-drop-3-blur-1: calc(var(--base-info-blur) * calc(1 + calc(1 * var(--elevation-info-change))));
--elevations-drop-3-blur-2: calc(var(--base-info-blur) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-3-blur-3: calc(var(--base-info-blur) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-3-blur-4: calc(var(--base-info-blur) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-3-blur-5: calc(var(--base-info-blur) * calc(1 + calc(5 * var(--elevation-info-change))));
--elevations-drop-3-spread-0: calc(var(--base-info-spread) * calc(1 + calc(0 * var(--elevation-info-change))));
--elevations-drop-3-spread-1: calc(var(--base-info-spread) * calc(1 + calc(1 * var(--elevation-info-change))));
--elevations-drop-3-spread-2: calc(var(--base-info-spread) * calc(1 + calc(2 * var(--elevation-info-change))));
--elevations-drop-3-spread-3: calc(var(--base-info-spread) * calc(1 + calc(3 * var(--elevation-info-change))));
--elevations-drop-3-spread-4: calc(var(--base-info-spread) * calc(1 + calc(4 * var(--elevation-info-change))));
--elevations-drop-3-spread-5: calc(var(--base-info-spread) * calc(1 + calc(5 * var(--elevation-info-change))));
--core-sizing-min-target: 32px;
}
[data-motion="none"] {
  --animation-focus-distance: 0px;
  --animation-speed: 0s;
}
}
