:root,::before, ::after {
[data-system="Test"] {
  --elevation-level: 0;
  --system-background-color: var(--color);
  --elevation-shadow: none;
  --elevation-dropshadow: var(--elevation-background)80;
  --elevation-drop-1-horizontal: 0;
  --elevation-drop-1-vertical: 0;
  --elevation-drop-1-blur: 0;
  --elevation-drop-1-spread:  0;
  --elevation-drop-2-horizontal:  0;
  --elevation-drop-2-vertical:  0;
  --elevation-drop-2-blur: 0;
  --elevation-drop-2-spread:  0;
  --elevation-drop-3-horizontal:  0;
  --elevation-drop-3-vertical:  0;
  --elevation-drop-3-blur:  0;
  --elevation-drop-3-spread: 0;
  --system-color: var(--color);
  --system-on-color: var(--elevation-on-color-none);
  --system-on-on-color: var(--on-on-color);
  --system-quiet: var(--elevation-quiet-none);
  --system-border: var(--elevation-border-0);
  --system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
  --system-button: var(--button);
  --system-button-half: var(--button-half);
  --system-on-button: var(--on-button);
  --system-hotlink: var(--hotlink);
  --system-overlay-1: var(--overlay-1);
  --system-overlay-2: var(--overlay-2);
  --system-colored-text-default: var(--colored-text-default);
  --system-colored-text-primary: var(--colored-text-primary);
  --system-colored-text-secondary: var(--colored-text-secondary);
  --system-colored-text-tertiary: var(--colored-text-tertiary);
  --system-colored-text-magenta: var(--colored-text-magenta);
  --system-colored-text-violet: var(--colored-text-violet);
  --system-colored-text-green: var(--colored-text-green);
  --system-colored-text-aqua: var(--colored-text-aqua);
  --system-colored-text-orange: var(--colored-text-orange);
  --system-colored-text-yellow: var(--colored-text-yellow);
  --system-colored-text-blue: var(--colored-text-blue);
  --system-colored-text-success: var(--colored-text-success);
  --system-colored-text-warning: var(--colored-text-warning);
  --system-colored-text-error: var(--colored-text-error);
  --system-colored-text-info: var(--colored-text-info);
  --system-icon-default: var(--icon-default);
  --system-icon-primary: var(--icon-primary);
  --system-icon-secondary: var(--icon-secondary);
  --system-icon-tertiary: var(--icon-tertiary);
  --system-icon-magenta: var(--icon-magenta);
  --system-icon-violet: var(--icon-violet);
  --system-icon-green: var(--icon-green);
  --system-icon-aqua: var(--icon-aqua);
  --system-icon-orange: var(--icon-orange);
  --system-icon-yellow: var(--icon-yellow);
  --system-icon-blue: var(--icon-blue);
  --system-icon-success: var(--icon-success);
  --system-icon-warning: var(--icon-warning);
  --system-icon-error: var(--icon-error);
  --system-icon-info: var(--icon-info);
  --system-icon-brand: var(--icon-brand);
  --system-icon-on-brand: var(--icon-on-brand);
  --system-icon-bg-standard: var(--icon-bg-standard);
  --system-icon-bg-on-brand: var(--icon-bg-on-brand);
}
[data-elevation="none"] {
--elevation-level: 0;
--system-background-color: var(--color);
--elevation-shadow: none;
--elevation-dropshadow: var(--elevation-background)80;
--elevation-drop-1-horizontal: 0;
--elevation-drop-1-vertical: 0;
--elevation-drop-1-blur: 0;
--elevation-drop-1-spread:  0;
--elevation-drop-2-horizontal:  0;
--elevation-drop-2-vertical:  0;
--elevation-drop-2-blur: 0;
--elevation-drop-2-spread:  0;
--elevation-drop-3-horizontal:  0;
--elevation-drop-3-vertical:  0;
--elevation-drop-3-blur:  0;
--elevation-drop-3-spread: 0;
--elevation-mixer: #000000;
--system-color: var(--color);
--system-on-color: var(--elevation-on-color-none);
--system-on-on-color: var(--on-on-color);
--system-quiet: var(--elevation-quiet-none);
--system-border: var(--elevation-border-0);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--button);
--system-button-half: var(--button-half);
--system-on-button: var(--on-button);
--system-hotlink: var(--hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--system-colored-text-default: var(--colored-text-default);
--system-colored-text-primary: var(--colored-text-primary);
--system-colored-text-secondary: var(--colored-text-secondary);
--system-colored-text-tertiary: var(--colored-text-tertiary);
--system-colored-text-magenta: var(--colored-text-magenta);
--system-colored-text-violet: var(--colored-text-violet);
--system-colored-text-green: var(--colored-text-green);
--system-colored-text-aqua: var(--colored-text-aqua);
--system-colored-text-orange: var(--colored-text-orange);
--system-colored-text-yellow: var(--colored-text-yellow);
--system-colored-text-blue: var(--colored-text-blue);
--system-colored-text-success: var(--colored-text-success);
--system-colored-text-warning: var(--colored-text-warning);
--system-colored-text-error: var(--colored-text-error);
--system-colored-text-info: var(--colored-text-info);
--system-icon-default: var(--icon-default);
--system-icon-primary: var(--icon-primary);
--system-icon-secondary: var(--icon-secondary);
--system-icon-tertiary: var(--icon-tertiary);
--system-icon-magenta: var(--icon-magenta);
--system-icon-violet: var(--icon-violet);
--system-icon-green: var(--icon-green);
--system-icon-aqua: var(--icon-aqua);
--system-icon-orange: var(--icon-orange);
--system-icon-yellow: var(--icon-yellow);
--system-icon-blue: var(--icon-blue);
--system-icon-success: var(--icon-success);
--system-icon-warning: var(--icon-warning);
--system-icon-error: var(--icon-error);
--system-icon-info: var(--icon-info);
--system-icon-brand: var(--icon-brand);
--system-icon-on-brand: var(--icon-on-brand);
--system-icon-bg-standard: var(--icon-bg-standard);
--system-icon-bg-on-brand: var(--icon-bg-on-brand);
}
[data-elevation="0"][data-mode*="light"], [data-mode*="light"] [data-elevation="0"]{
--elevation-level: 0;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--system-color));
--elevation-dropshadow: var(--elevation-background)80;
--elevation-drop-1-horizontal: 0;
--elevation-drop-1-vertical: 0;
--elevation-drop-1-blur: 0;
--elevation-drop-1-spread:  0;
--elevation-drop-2-horizontal:  0;
--elevation-drop-2-vertical:  0;
--elevation-drop-2-blur: 0;
--elevation-drop-2-spread:  0;
--elevation-drop-3-horizontal:  0;
--elevation-drop-3-vertical:  0;
--elevation-drop-3-blur:  0;
--elevation-drop-3-spread: 0;
--elevation-mixer: #000000;
--system-color: var(--color);
--system-on-color: var(--elevation-on-color-none);
--system-on-on-color: var(--on-on-color);
--system-quiet: var(--elevation-quiet-none);
--system-border: var(--elevation-border-0);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--button);
--system-button-half: var(--button-half);
--system-on-button: var(--on-button);
--system-hotlink: var(--hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--system-colored-text-default: var(--colored-text-default);
--system-colored-text-primary: var(--colored-text-primary);
--system-colored-text-secondary: var(--colored-text-secondary);
--system-colored-text-tertiary: var(--colored-text-tertiary);
--system-colored-text-magenta: var(--colored-text-magenta);
--system-colored-text-violet: var(--colored-text-violet);
--system-colored-text-green: var(--colored-text-green);
--system-colored-text-aqua: var(--colored-text-aqua);
--system-colored-text-orange: var(--colored-text-orange);
--system-colored-text-yellow: var(--colored-text-yellow);
--system-colored-text-blue: var(--colored-text-blue);
--system-colored-text-success: var(--colored-text-success);
--system-colored-text-warning: var(--colored-text-warning);
--system-colored-text-error: var(--colored-text-error);
--system-colored-text-info: var(--colored-text-info);
--system-icon-default: var(--icon-default);
--system-icon-primary: var(--icon-primary);
--system-icon-secondary: var(--icon-secondary);
--system-icon-tertiary: var(--icon-tertiary);
--system-icon-magenta: var(--icon-magenta);
--system-icon-violet: var(--icon-violet);
--system-icon-green: var(--icon-green);
--system-icon-aqua: var(--icon-aqua);
--system-icon-orange: var(--icon-orange);
--system-icon-yellow: var(--icon-yellow);
--system-icon-blue: var(--icon-blue);
--system-icon-success: var(--icon-success);
--system-icon-warning: var(--icon-warning);
--system-icon-error: var(--icon-error);
--system-icon-info: var(--icon-info);
--system-icon-brand: var(--icon-brand);
--system-icon-on-brand: var(--icon-on-brand);
--system-icon-bg-standard: var(--icon-bg-standard);
--system-icon-bg-on-brand: var(--icon-bg-on-brand);
}
[data-elevation="0"][data-mode*="dark"], [data-mode*="dark"] [data-elevation="0"] {
--elevation-level: 0;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--system-color));
--elevation-dropshadow: var(--elevation-background)80;
--elevation-drop-1-horizontal: 0;
--elevation-drop-1-vertical: 0;
--elevation-drop-1-blur: 0;
--elevation-drop-1-spread:  0;
--elevation-drop-2-horizontal:  0;
--elevation-drop-2-vertical:  0;
--elevation-drop-2-blur: 0;
--elevation-drop-2-spread:  0;
--elevation-drop-3-horizontal:  0;
--elevation-drop-3-vertical:  0;
--elevation-drop-3-blur:  0;
--elevation-drop-3-spread: 0;
--elevation-mixer: #000000;
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-1);
--system-border: var(--elevation-border-1);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
[data-elevation="1"] {
--elevation-level: 1;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--elevation-background-mix-in) var(--elevation-mix-1), var(--system-color));
--elevation-drop-1-horizontal: var(--elevations-drop-1-horizontal-1);
--elevation-drop-1-vertical: var(--elevations-drop-1-horizontal-1);
--elevation-drop-1-blur: var(--elevations-drop-1-blur-1);
--elevation-drop-1-spread:  var(--elevations-drop-1-spread-1);
--elevation-drop-2-horizontal:  var(--elevations-drop-2-horizontal-1);
--elevation-drop-2-vertical:  var(--elevations-drop-2-vertical-1);
--elevation-drop-2-blur: var(--elevations-drop-2-blur-1);
--elevation-drop-2-spread:  var(--elevations-drop-2-spread-1);
--elevation-drop-3-horizontal:  var(--elevations-drop-3-horizontal-1);
--elevation-drop-3-vertical:  var(--elevations-drop-3-vertical-1);
--elevation-drop-3-blur:  var(--elevations-drop-3-blur-1);
--drop-3-spread:  var(--elevations-drop-3-spread-1);
--elevation-shadow: none;
--elevation-dropshadow: var(--elevation-background);
--elevation-mixer: color-mix(in srgb, var(--elevation-mix-in) calc(var(--elevation-info-opacity) * 1) , transparent);
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-1);
--system-border: var(--elevation-border-1);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
[data-elevation="2"] {
--elevation-level: 2;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--elevation-background-mix-in) var(--elevation-mix-2), var(--system-color));
--elevation-drop-1-horizontal: var(--elevations-drop-1-horizontal-2);
--elevation-drop-1-vertical: var(--elevations-drop-1-horizontal-2);
--elevation-drop-1-blur: var(--elevations-drop-1-blur-2);
--elevation-drop-1-spread:  var(--elevations-drop-1-spread-2);
--elevation-drop-2-horizontal:  var(--elevations-drop-2-horizontal-2);
--elevation-drop-2-vertical:  var(--elevations-drop-2-vertical-2);
--elevation-drop-2-blur: var(--elevations-drop-2-blur-2);
--elevation-drop-2-spread:  var(--elevations-drop-2-spread-2);
--elevation-drop-3-horizontal:  var(--elevations-drop-3-horizontal-2);
--elevation-drop-3-vertical:  var(--elevations-drop-3-vertical-2);
--elevation-drop-3-blur:  var(--elevations-drop-3-blur-2);
--elevation-drop-3-spread:  var(--elevations-drop-3-spread-2);
--elevation-dropshadow: var(--elevation-background);
--elevation-mixer: color-mix(in srgb, var(--elevation-mix-in) calc(var(--elevation-info-opacity) * 2) , transparent);
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-2);
--system-border: var(--elevation-border-2);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--elevation-shadow: none;
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
[data-elevation="3"] {
--elevation-level: 3;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--elevation-background-mix-in) var(--elevation-mix-3), var(--system-color));
--elevation-drop-1-horizontal: var(--elevations-drop-1-horizontal-3);
--elevation-drop-1-vertical: var(--elevations-drop-1-horizontal-3);
--elevation-drop-1-blur: var(--elevations-drop-1-blur-3);
--elevation-drop-1-spread:  var(--elevations-drop-1-spread-3);
--elevation-drop-2-horizontal:  var(--elevations-drop-2-horizontal-3);
--elevation-drop-2-vertical:  var(--elevations-drop-2-vertical-3);
--elevation-drop-2-blur: var(--elevations-drop-2-blur-3);
--elevation-drop-2-spread:  var(--elevations-drop-2-spread-3);
--elevation-drop-3-horizontal:  var(--elevations-drop-3-horizontal-3);
--elevation-drop-3-vertical:  var(--elevations-drop-3-vertical-3);
--elevation-drop-3-blur:  var(--elevations-drop-3-blur-3);
--elevation-drop-3-spread:  var(--elevations-drop-3-spread-3);
--elevation-dropshadow: var(--elevation-background);
--elevation-mixer: color-mix(in srgb, #000000 calc(var(--elevation-info-opacity) * 3) , transparent);
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-3);
--system-border: var(--elevation-border-3);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--elevation-shadow: --elevation-shadow: calc(var(--elevation-info-horizontal) * calc(1 + calc(var(--elevation-level) * var(--elevation-info-change)))) calc(var(--elevation-info-vertical) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change))))
 calc(var(--elevation-info-blur) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) calc(var(--elevation-info-spread) * calc(1 + calc(var(--elevation-level) * var(--elevation-info-change)))) var(--elevation-mixer)
,0 0 calc(var(--base-info-blur) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) calc(var(--base-info-spread) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) var(--elevation-mixer);
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
[data-elevation="4"] {
--elevation-level: 4;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--elevation-background-mix-in) var(--elevation-mix-4), var(--system-color));
--elevation-drop-1-horizontal: var(--elevations-drop-1-horizontal-4);
--elevation-drop-1-vertical: var(--elevations-drop-1-horizontal-4);
--elevation-drop-1-blur: var(--elevations-drop-1-blur-4);
--elevation-drop-1-spread:  var(--elevations-drop-1-spread-4);
--elevation-drop-2-horizontal:  var(--elevations-drop-2-horizontal-4);
--elevation-drop-2-vertical:  var(--elevations-drop-2-vertical-4);
--elevation-drop-2-blur: var(--elevations-drop-2-blur-4);
--elevation-drop-2-spread:  var(--elevations-drop-2-spread-4);
--elevation-drop-3-horizontal:  var(--elevations-drop-3-horizontal-4);
--elevation-drop-3-vertical:  var(--elevations-drop-3-vertical-4);
--elevation-drop-3-blur:  var(--elevations-drop-3-blur-4);
--elevation-drop-3-spread:  var(--elevations-drop-3-spread-4);
--elevation-dropshadow: var(--elevation-background);
--elevation-mixer: color-mix(in srgb, var(--elevation-mix-in) calc(var(--elevation-info-opacity) * 4) , transparent);
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-4);
--system-border: var(--elevation-border-4);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--elevation-shadow: calc(var(--elevation-info-horizontal) * calc(1 + calc(var(--elevation-level) * var(--elevation-info-change)))) calc(var(--elevation-info-vertical) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change))))
 calc(var(--elevation-info-blur) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) calc(var(--elevation-info-spread) * calc(1 + calc(var(--elevation-level) * var(--elevation-info-change)))) var(--elevation-mixer)
,0 0 calc(var(--base-info-blur) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) calc(var(--base-info-spread) * calc(1 + calc( var(--elevation-level) * var(--elevation-info-change)))) var(--elevation-mixer);
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
[data-elevation="5"] {
--elevation-level: 5;
--system-color: color-mix(in srgb, var(--surface-mix-in) var(--elevation-mix-0), var(--color));
--system-background-color: color-mix(in srgb, var(--elevation-background-mix-in) var(--elevation-mix-5), var(--system-color));
--elevation-drop-1-horizontal: var(--elevations-drop-1-horizontal-5);
--elevation-drop-1-vertical: var(--elevations-drop-1-horizontal-5);
--elevation-drop-1-blur: var(--elevations-drop-1-blur-5);
--elevation-drop-1-spread:  var(--elevations-drop-1-spread-5);
--elevation-drop-2-horizontal:  var(--elevations-drop-2-horizontal-5);
--elevation-drop-2-vertical:  var(--elevations-drop-2-vertical-5);
--elevation-drop-2-blur: var(--elevations-drop-2-blur-5);
--elevation-drop-2-spread:  var(--elevations-drop-2-spread-5);
--elevation-drop-3-horizontal:  var(--elevations-drop-3-horizontal-5);
--elevation-drop-3-vertical:  var(--elevations-drop-3-vertical-5);
--elevation-drop-3-blur:  var(--elevations-drop-3-blur-5);
--elevation-drop-3-spread:  var(--elevations-drop-3-spread-5);
--elevation-dropshadow: var(--elevation-background);
--elevation-mixer: color-mix(in srgb, var(--elevation-mix-in) calc(var(--elevation-info-opacity) * 5) , transparent);
--system-on-color: var(--surface-on-color);
--system-on-on-color: var(--surface-on-on-color);
--system-quiet: var(--elevation-quiet-5);
--system-border: var(--elevation-border-5);
--system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
--system-button: var(--backgrounds-surface-background-button);
--system-button-half: var(--backgrounds-surface-background-button-half);
--system-on-button: var(--backgrounds-surface-background-on-button);
--system-hotlink: var(--backgrounds-surface-background-hotlink);
--system-overlay-1: var(--overlay-1);
--system-overlay-2: var(--overlay-2);
--elevation-shadow: none;
--system-colored-text-default: var(--surface-on-color);
--system-colored-text-primary: var(--elements-text-on-surface-primary);
--system-colored-text-secondary: var(--elements-text-on-surface-secondary);
--system-colored-text-tertiary: var(--elements-text-on-surface-tertiary);
--system-colored-text-magenta: var(--elements-text-on-surface-magenta);
--system-colored-text-violet: var(--elements-text-on-surface-violet);
--system-colored-text-green: var(--elements-text-on-surface-green);
--system-colored-text-aqua: var(--elements-text-on-surface-aqua);
--system-colored-text-orange: var(--elements-text-on-surface-orange);
--system-colored-text-yellow: var(--elements-text-on-surface-yellow);
--system-colored-text-blue: var(--elements-text-on-surface-blue);
--system-colored-text-success: var(--elements-text-on-surface-success);
--system-colored-text-warning: var(--elements-text-on-surface-warning);
--system-colored-text-error: var(--elements-text-on-surface-error);
--system-colored-text-info: var(--elements-text-on-surface-info);
--system-icon-default: var(--surface-on-color);
--system-icon-primary: var(--elements-icons-on-surface-primary);
--system-icon-secondary: var(--elements-icons-on-surface-secondary);
--system-icon-tertiary: var(--elements-icons-on-surface-tertiary);
--system-icon-magenta: var(--elements-icons-on-surface-magenta);
--system-icon-violet: var(--elements-icons-on-surface-violet);
--system-icon-green: var(--elements-icons-on-surface-green);
--system-icon-aqua: var(--elements-icons-on-surface-aqua);
--system-icon-orange: var(--elements-icons-on-surface-orange);
--system-icon-yellow: var(--elements-icons-on-surface-yellow);
--system-icon-blue: var(--elements-icons-on-surface-blue);
--system-icon-success: var(--elements-icons-on-surface-success);
--system-icon-warning: var(--elements-icons-on-surface-warning);
--system-icon-error: var(--elements-icons-on-surface-error);
--system-icon-info: var(--elements-icons-on-surface-info);
--system-icon-brand: var(--elements-icons-on-surface-brand);
--system-icon-on-brand: var(--elements-icons-on-surface-on-brand);
--system-icon-bg-standard: var(--elevation-color-0);
--system-icon-bg-on-brand: var(--backgrounds-surface-background-on-color);
}
}
