:root,::before, ::after {
  [data-gradients="primary"] {
--color: linear-gradient(var(--gradient-angle)deg, var(--gradient-colors-1) var(--gradient-position-1)%,  var(--gradient-colors-2) var(--gradient-position-2)%,  var(--gradient-colors-3) var(--gradient-position-3)%,   var(--gradient-colors-4) var(--gradient-position-4)%);
--on-on-color: var(--backgrounds-primary-background-on-on-color);
--button: var(--backgrounds-primary-background-button);
--button-half: var(--backgrounds-primary-background-button-half);
--on-button: var(--backgrounds-primary-background-on-button);
--hotlink: var(--backgrounds-primary-gradient-background-hotlink);
--overlay-1: var(--backgrounds-primary-background-color);
--overlay-2: var(--backgrounds-primary-background-color);
--elevation-quiet-0: var(--theme-elevation-quiet-primary-0);
--elevation-quiet-1: var(--theme-elevation-quiet-primary-1);
--elevation-quiet-2: var(--theme-elevation-quiet-primary-2);
--elevation-quiet-3: var(--theme-elevation-quiet-primary-3);
--elevation-quiet-4: var(--theme-elevation-quiet-primary-4);
--elevation-quiet-5: var(--theme-elevation-quiet-primary-5);
--elevation-quiet-none: var(--theme-elevation-quiet-primary-none);
--elevation-on-color-none: var(--backgrounds-primary-background-on-color);
--elevation-on-color-surface: var(--theme-elevation-on-color-primary-surface);
--elevation-border-0: var(--theme-elevation-border-primary-0);
--elevation-border-1: var(--theme-elevation-border-primary-1);
--elevation-border-2: var(--theme-elevation-border-primary-2);
--elevation-border-3: var(--theme-elevation-border-primary-3);
--elevation-border-4: var(--theme-elevation-border-primary-4);
--elevation-border-5: var(--theme-elevation-border-primary-5);
--elevation-border-none: var(--theme-elevation-border-primary-none);
--colored-text-default: var(--colored-text-primary-default);
--colored-text-primary: var(--colored-text-primary-primary);
--colored-text-secondary: var(--colored-text-primary-secondary);
--colored-text-tertiary: var(--colored-text-primary-tertiary);
--colored-text-magenta: var(--colored-text-primary-magenta);
--colored-text-violet: var(--colored-text-primary-violet);
--colored-text-green: var(--colored-text-primary-green);
--colored-text-aqua: var(--colored-text-primary-aqua);
--colored-text-orange: var(--colored-text-primary-orange);
--colored-text-yellow: var(--colored-text-primary-yellow);
--colored-text-blue: var(--colored-text-primary-blue);
--colored-text-success: var(--colored-text-primary-success);
--colored-text-warning: var(--colored-text-primary-warning);
--colored-text-error: var(--colored-text-primary-error);
--colored-text-info: var(--colored-text-primary-info);
--icon-default: var(--icon-color-primary-default);
--icon-primary: var(--icon-color-primary-primary);
--icon-secondary: var(--icon-color-primary-secondary);
--icon-tertiary: var(--icon-color-primary-tertiary);
--icon-magenta: var(--icon-color-primary-magenta);
--icon-violet: var(--icon-color-primary-violet);
--icon-green: var(--icon-color-primary-green);
--icon-aqua: var(--icon-color-primary-aqua);
--icon-orange: var(--icon-color-primary-orange);
--icon-yellow: var(--icon-color-primary-yellow);
--icon-blue: var(--icon-color-primary-blue);
--icon-success: var(--icon-color-primary-success);
--icon-warning: var(--icon-color-primary-warning);
--icon-error: var(--icon-color-primary-success);
--icon-info: var(--icon-color-primary-info);
--icon-brand: var(--icon-color-primary-brand);
--icon-on-brand: var(--icon-color-primary-on-brand);
--icon-bg-standard: var(--icon-bg-primary-standard);
--icon-bg-on-brand: var(--icon-bg-primary-on-brand);
--hotlink-underline-hover: underline;
--hotlink-underline-default: none;
--shadow: var(--elevation-shadow);
--gradient-colors-1: var(--gradients-primary-1);
--gradient-colors-2: var(--gradients-primary-2);
--gradient-colors-3: var(--gradients-primary-3);
--gradient-colors-4: var(--gradients-primary-3);
--gradient-angle: var(--gradient-angles-primary);
--gradient-position-1: var(--gradient-position-primary-1);
--gradient-position-2: var(--gradient-position-primary-2);
--gradient-position-3: var(--gradient-position-primary-3);
--gradient-position-4: var(--gradient-position-primary-4);
--system-background-color: var(--elevation-background-color);
}
[data-gradients="secondary"] {
--color: linear-gradient(var(--gradient-angle)deg, var(--gradient-colors-1) var(--gradient-position-1)%,  var(--gradient-colors-2) var(--gradient-position-2)%,  var(--gradient-colors-3) var(--gradient-position-3)%,   var(--gradient-colors-4) var(--gradient-position-4)%);
--on-on-color: var(--backgrounds-secondary-background-on-on-color);
--button: var(--backgrounds-secondary-background-button);
--button-half: var(--backgrounds-secondary-background-button-half);
--on-button: var(--backgrounds-secondary-background-on-button);
--hotlink: var(--backgrounds-secondary-gradient-background-hotlink);
--overlay-1: var(--backgrounds-secondary-background-color);
--overlay-2: var(--backgrounds-secondary-background-color);
--elevation-quiet-0: var(--theme-elevation-quiet-secondary-0);
--elevation-quiet-1: var(--theme-elevation-quiet-secondary-1);
--elevation-quiet-2: var(--theme-elevation-quiet-secondary-2);
--elevation-quiet-3: var(--theme-elevation-quiet-secondary-3);
--elevation-quiet-4: var(--theme-elevation-quiet-secondary-4);
--elevation-quiet-5: var(--theme-elevation-quiet-secondary-5);
--elevation-quiet-none: var(--theme-elevation-quiet-secondary-none);
--elevation-on-color-none: var(--backgrounds-secondary-background-on-color);
--elevation-on-color-surface: var(--theme-elevation-on-color-secondary-surface);
--elevation-border-0: var(--theme-elevation-border-secondary-0);
--elevation-border-1: var(--theme-elevation-border-secondary-1);
--elevation-border-2: var(--theme-elevation-border-secondary-2);
--elevation-border-3: var(--theme-elevation-border-secondary-3);
--elevation-border-4: var(--theme-elevation-border-secondary-4);
--elevation-border-5: var(--theme-elevation-border-secondary-5);
--elevation-border-none: var(--theme-elevation-border-secondary-none);
--colored-text-default: var(--colored-text-secondary-default);
--colored-text-primary: var(--colored-text-secondary-primary);
--colored-text-secondary: var(--colored-textsecondary-secondary);
--colored-text-tertiary: var(--colored-textsecondary-tertiary);
--colored-text-magenta: var(--colored-textsecondary-magenta);
--colored-text-violet: var(--colored-textsecondary-violet);
--colored-text-green: var(--colored-textsecondary-green);
--colored-text-aqua: var(--colored-textsecondary-aqua);
--colored-text-orange: var(--colored-textsecondary-orange);
--colored-text-yellow: var(--colored-textsecondary-yellow);
--colored-text-blue: var(--colored-textsecondary-blue);
--colored-text-success: var(--colored-textsecondary-success);
--colored-text-warning: var(--colored-textsecondary-warning);
--colored-text-error: var(--colored-textsecondary-error);
--colored-text-info: var(--colored-textsecondary-info);
--icon-default: var(--icon-color-secondary-default);
--icon-default-primary: var(--icon-color-secondary-primary);
--icon-default-secondary: var(--icon-color-secondary-secondary);
--icon-default-tertiary: var(--icon-color-secondary-tertiary);
--icon-default-magenta: var(--icon-color-secondary-magenta);
--icon-default-violet: var(--icon-color-secondary-violet);
--icon-default-green: var(--icon-color-secondary-green);
--icon-default-aqua: var(--icon-color-secondary-aqua);
--icon-default-orange: var(--icon-color-secondary-orange);
--icon-default-yellow: var(--icon-color-secondary-yellow);
--icon-default-blue: var(--icon-color-secondary-blue);
--icon-default-success: var(--icon-color-secondary-success);
--icon-default-warning: var(--icon-color-secondary-warning);
--icon-default-error: var(--icon-color-secondary-error);
--icon-default-info: var(--icon-color-secondary-info);
--icon-default-brand: var(--icon-color-secondary-brand);
--icon-on-brand: var(--icon-color-secondary-on-brand);
--icon-bg-standard: var(--icon-bg-secondary-standard);
--icon-bg-on-brand: var(--icon-bg-secondary-on-brand);
--hotlink-underline-hover: underline;
--hotlink-underline-default: none;
--shadow: var(--elevation-shadow);
--gradient-colors-1: var(--gradients-secondary-1);
--gradient-colors-2: var(--gradients-secondary-2);
--gradient-colors-3: var(--gradients-secondary-3);
--gradient-colors-4: var(--gradients-secondary-3);
--gradient-angle: var(--gradient-angles-secondary);
--gradient-position-1: var(--gradient-position-secondary-1);
--gradient-position-2: var(--gradient-position-secondary-2);
--gradient-position-3: var(--gradient-position-secondary-3);
--gradient-position-4: var(--gradient-position-secondary-4);
--system-background-color: var(--elevation-background-color);
}
[data-gradients="tertiary"] {
--color: linear-gradient(var(--gradient-angle)deg, var(--gradient-colors-1) var(--gradient-position-1)%,  var(--gradient-colors-2) var(--gradient-position-2)%,  var(--gradient-colors-3) var(--gradient-position-3)%,   var(--gradient-colors-4) var(--gradient-position-4)%);
--on-on-color: var(--backgrounds-tertiary-background-on-on-color);
--button: var(--backgrounds-tertiary-background-button);
--button-half: var(--backgrounds-tertiary-background-button-half);
--on-button: var(--backgrounds-tertiary-background-on-button);
--hotlink: var(--backgrounds-tertiary-gradient-background-hotlink);
--overlay-1: var(--backgrounds-tertiary-background-color);
--overlay-2: var(--backgrounds-tertiary-background-color);
--elevation-quiet-0: var(--theme-elevation-quiet-tertiary-0);
--elevation-quiet-1: var(--theme-elevation-quiet-tertiary-1);
--elevation-quiet-2: var(--theme-elevation-quiet-tertiary-2);
--elevation-quiet-3: var(--theme-elevation-quiet-tertiary-3);
--elevation-quiet-4: var(--theme-elevation-quiet-tertiary-4);
--elevation-quiet-5: var(--theme-elevation-quiet-tertiary-5);
--elevation-quiet-none: var(--theme-elevation-quiet-tertiary-none);
--elevation-on-color-none: var(--backgrounds-tertiary-background-on-color);
--elevation-on-color-surface: var(--theme-elevation-on-color-tertiary-surface);
--elevation-border-0: var(--theme-elevation-border-tertiary-0);
--elevation-border-1: var(--theme-elevation-border-tertiary-1);
--elevation-border-2: var(--theme-elevation-border-tertiary-2);
--elevation-border-3: var(--theme-elevation-border-tertiary-3);
--elevation-border-4: var(--theme-elevation-border-tertiary-4);
--elevation-border-5: var(--theme-elevation-border-tertiary-5);
--elevation-border-none: var(--theme-elevation-border-tertiary-none);
--colored-text-default: var(--colored-text-tertiary-default);
--colored-text-primary: var(--colored-text-tertiary-primary);
--colored-text-secondary: var(--colored-text-tertiary-secondary);
--colored-text-tertiary: var(--colored-text-tertiary-tertiary);
--colored-text-magenta: var(--colored-text-tertiary-magenta);
--colored-text-violet: var(--colored-text-tertiary-violet);
--colored-text-green: var(--colored-text-tertiary-green);
--colored-text-aqua: var(--colored-text-tertiary-aqua);
--colored-text-orange: var(--colored-text-tertiary-orange);
--colored-text-yellow: var(--colored-text-tertiary-yellow);
--colored-text-blue: var(--colored-text-tertiary-blue);
--colored-text-success: var(--colored-text-tertiary-success);
--colored-text-warning: var(--colored-text-tertiary-warning);
--colored-text-error: var(--colored-text-tertiary-error);
--colored-text-info: var(--colored-text-tertiary-info);
--icon-default: var(--icon-color-tertiary-default);
--icon-default-primary: var(--icon-color-tertiary-primary);
--icon-default-secondary: var(--icon-color-tertiary-secondary);
--icon-default-tertiary: var(--icon-color-tertiary-tertiary);
--icon-default-magenta: var(--icon-color-tertiary-magenta);
--icon-default-violet: var(--icon-color-tertiary-violet);
--icon-default-green: var(--icon-color-tertiary-green);
--icon-default-aqua: var(--icon-color-tertiary-aqua);
--icon-default-orange: var(--icon-color-tertiary-orange);
--icon-default-yellow: var(--icon-color-tertiary-yellow);
--icon-default-blue: var(--icon-color-tertiary-blue);
--icon-default-success: var(--icon-color-tertiary-success);
--icon-default-warning: var(--icon-color-tertiary-warning);
--icon-default-error: var(--icon-color-tertiary-error);
--icon-default-info: var(--icon-color-tertiary-info);
--icon-default-brand: var(--icon-color-tertiary-brand);
--icon-on-brand: var(--icon-color-tertiary-on-brand);
--icon-bg-standard: var(--icon-bg-tertiary-standard);
--icon-bg-on-brand: var(--icon-bg-tertiary-on-brand);
--hotlink-underline-hover: underline;
--hotlink-underline-default: none;
--shadow: var(--elevation-shadow);
--gradient-colors-1: var(--gradients-tertiary-1);
--gradient-colors-2: var(--gradients-tertiary-2);
--gradient-colors-3: var(--gradients-tertiary-3);
--gradient-colors-4: var(--gradients-tertiary-3);
--gradient-angle: var(--gradient-angles-tertiary);
--gradient-position-1: var(--gradient-position-tertiary-1);
--gradient-position-2: var(--gradient-position-tertiary-2);
--gradient-position-3: var(--gradient-position-tertiary-3);
--gradient-position-4: var(--gradient-position-tertiary-4);
--system-background-color: var(--elevation-background-color);
}
[data-gradients="grey"] {
--color: linear-gradient(var(--gradient-angle)deg, var(--gradient-colors-1) var(--gradient-position-1)%,  var(--gradient-colors-2) var(--gradient-position-2)%,  var(--gradient-colors-3) var(--gradient-position-3)%,   var(--gradient-colors-4) var(--gradient-position-4)%);
--on-on-color: var(--backgrounds-neutral-30-background-on-on-color);
--button: var(--backgrounds-neutral-30-background-button);
--button-half: var(--backgrounds-neutral-30-background-button-half);
--on-button: var(--backgrounds-neutral-30-background-on-button);
--hotlink: var(--backgrounds-neutral-20-background-hotlink);
--overlay-1: var(--backgrounds-neutral-30-background-color);
--overlay-2: var(--backgrounds-neutral-30-background-color);
--elevation-quiet-0: var(--elevation-quiet-neutral-30-0);
--elevation-quiet-1: var(--elevation-quiet-neutral-30-1);
--elevation-quiet-2: var(--elevation-quiet-neutral-30-2);
--elevation-quiet-3: var(--elevation-quiet-neutral-30-3);
--elevation-quiet-4: var(--elevation-quiet-neutral-30-4);
--elevation-quiet-5: var(--elevation-quiet-neutral-30-5);
--elevation-quiet-none: var(--elevation-quiet-neutral-30-none);
--elevation-on-color-none: var(--backgrounds-neutral-30-background-on-color);
--elevation-on-color-surface: var(--elevation-on-color-neutral-30-surface);
--elevation-border-0: var(--elevation-border-neutral-30-0);
--elevation-border-1: var(--elevation-border-neutral-30-1);
--elevation-border-2: var(--elevation-border-neutral-30-2);
--elevation-border-3: var(--elevation-border-neutral-30-3);
--elevation-border-4: var(--elevation-border-neutral-30-4);
--elevation-border-5: var(--elevation-border-neutral-30-5);
--elevation-border-none: var(--elevation-border-neutral-30-none);
--colored-text-default: var(--system-on-color);
--colored-text-primary: var(--system-on-color);
--colored-text-secondary: var(--system-on-color);
--colored-text-tertiary: var(--system-on-color);
--colored-text-magenta: var(--system-on-color);
--colored-text-violet: var(--system-on-color);
--colored-text-green: var(--system-on-color);
--colored-text-aqua: var(--system-on-color);
--colored-text-orange: var(--system-on-color);
--colored-text-yellow: var(--system-on-color);
--colored-text-blue: var(--system-on-color);
--colored-text-success: var(--system-on-color);
--colored-text-warning: var(--system-on-color);
--colored-text-error: var(--system-on-color);
--colored-text-info: var(--system-on-color);
--icon-default: var(--theme-elevation-on-color-tertiary-none);
--icon-primary: var(--elements-icons-on-light-shades-primary);
--icon-secondary: var(--elements-icons-on-light-shades-secondary);
--icon-tertiary: var(--elements-icons-on-light-shades-tertiary);
--icon-magenta: var(--elements-icons-on-light-shades-magenta);
--icon-violet: var(--elements-icons-on-light-shades-violet);
--icon-green: var(--elements-icons-on-light-shades-green);
--icon-aqua: var(--elements-icons-on-light-shades-aqua);
--icon-orange: var(--elements-icons-on-light-shades-orange);
--icon-yellow: var(--elements-icons-on-light-shades-yellow);
--icon-blue: var(--elements-icons-on-light-shades-blue);
--icon-success: var(--elements-icons-on-light-shades-success);
--icon-warning: var(--elements-icons-on-light-shades-warning);
--icon-error: var(--elements-icons-on-light-shades-error);
--icon-info: var(--elements-icons-on-light-shades-info);
--icon-brand: var(--elements-icons-on-light-shades-brand);
--icon-bg-on-brand: var(--elements-icons-on-dark-shades-brand);
--icon-bg-standard: var(--system-on-on-color);
--icon-bg-on-brand: var(--system-on-color);
--hotlink-underline-hover: underline;
--hotlink-underline-default: none;
--shadow: var(--elevation-shadow);
--gradient-colors-1: var(--all-colors-neutral-color-050);
--gradient-colors-2: var(--all-colors-neutral-color-200);
--gradient-colors-3: var(--all-colors-neutral-color-200);
--gradient-colors-4: var(--all-colors-neutral-color-200);
--gradient-angle: 45;
--gradient-position-1: 0;
--gradient-position-2: 100;
--gradient-position-3: 0;
--gradient-position-4: 0;
--system-background-color: var(--elevation-background-color);
}
}
