:root,
::after,
::before  {
  [data-test="none"] {

  }
[data-platform="desktop"] {
 --platform-name: Desktop;
 --ios-status-bar: hidden;
 --android-status-bar: hidden;
 --sizing-min-target: 48px;
 --display-small-text-decoration: none;
 --display-small-text-transform: none;
 --display-large-text-decoration: none;
 --display-large-text-transform: none;
 --breadcrumbs-current-text-decoration: none;
 --breadcrumbs-current-text-transform: none;
 --breadcrumbs-historic-text-decoration: underline;
 --breadcrumbs-historic-text-transform: none;
 --small-text-label-extra-small-text-decoration: none;
 --small-text-label-extra-small-text-transform: none;
 --small-text-label-small-text-decoration: none;
 --small-text-label-small-text-transform: none;
 --small-text-label-medium-all-caps-text-decoration: none;
 --small-text-label-medium-all-caps-text-transform: uppercase;
 --small-text-label-medium-text-decoration: none;
 --small-text-label-medium-text-transform: capitalize;
 --small-text-label-large-all-caps-text-decoration: none;
 --small-text-label-large-all-caps-text-transform: uppercase;
 --small-text-label-large-text-decoration: none;
 --small-text-label-large-text-transform: capitalize;
 --small-text-legal-semibold-text-decoration: none;
 --small-text-legal-semibold-text-transform: none;
 --small-text-legal-text-decoration: none;
 --small-text-legal-text-transform: none;
 --small-text-overline-extra-large-text-decoration: none;
 --small-text-overline-extra-large-text-transform: uppercase;
 --small-text-overline-large-text-decoration: none;
 --small-text-overline-large-text-transform: uppercase;
 --small-text-overline-text-decoration: none;
 --small-text-overline-text-transform: uppercase;
 --small-text-overline-paragraph-spacing: none;;
 --small-text-caption-bold-text-decoration: none;
 --small-text-caption-bold-text-transform: none;
 --small-text-caption-text-decoration: none;
 --small-text-caption-text-transform: none;
 --small-text-cta-small-text-decoration: none;
 --small-text-cta-small-text-transform: none;
 --small-text-cta-text-decoration: none;
 --small-text-cta-text-transform: none;
 --small-text-subtitle-small-text-decoration: none;
 --small-text-subtitle-small-text-transform: none;
 --small-text-subtitle-large-text-decoration: none;
 --small-text-subtitle-large-text-transform: none;
 --body-large-bold-text-decoration: none;
 --body-large-bold-text-transform: none;
 --body-large-bold-letter-spacing: 0;
 --body-medium-bold-text-decoration: none;
 --body-medium-bold-text-transform: none;
 --body-small-bold-text-decoration: none;
 --body-small-bold-text-transform: none;
 --body-large-semibold-text-decoration: none;
 --body-large-semibold-text-transform: none;
 --body-medium-semibold-text-decoration: none;
 --body-medium-semibold-text-transform: none;
 --body-small-semibold-text-decoration: none;
 --body-small-semibold-text-transform: none;
 --body-large-text-decoration: none;
 --body-large-text-transform: none;
 --body-medium-text-decoration: none;
 --body-medium-text-transform: none;
 --body-small-text-decoration: none;
 --body-small-text-transform: none;
 --number-medium-text-decoration: none;
 --number-medium-text-transform: none;
 --number-large-text-decoration: none;
 --number-large-text-transform: none;
 --headers-h6-text-decoration: none;
 --headers-h6-text-transform: none;
 --headers-h5-text-decoration: none;
 --headers-h5-text-transform: none;
 --headers-h4-text-decoration: none;
 --headers-h4-text-transform: none;
 --headers-h3-text-decoration: none;
 --headers-h3-text-transform: none;
 --headers-h2-text-decoration: none;
 --headers-h2-text-transform: none;
 --headers-h1-text-decoration: none;
 --headers-h1-text-transform: none;
 --header-sizing-h6: 16px;
 --header-sizing-h1: 28px;
 --letter-spacing-11: .41;
 --letter-spacing-10: .38;
 --letter-spacing-9: 1.75;
 --letter-spacing-8: 1.5;
 --letter-spacing-7: 1.25;
 --letter-spacing-6: 0.5;
 --letter-spacing-5: .4;
 --letter-spacing-4: .25;
 --letter-spacing-3: .15;
 --letter-spacing-2: 0;
 --letter-spacing-1: -.05;
 --letter-spacing-0: -.15;
 --font-weights-header: 700;
 --font-weights-extra-bold: 700;
 --font-weights-bold: 600;
 --font-weights-regular: 500;
 --font-weights-light: 500;
 --font-weights-extra-light: 500;
 --font-size-base-font: 16px;
 --hero-body-text-decoration: var(--body-small-semibold-text-decoration);
 --hero-body-text-transform: var(--body-small-semibold-text-transform);
 --hero-title-text-decoration: var(--display-small-text-decoration);
 --hero-title-text-transform: var(--display-small-text-transform);
 --chip-decoration: var(--small-text-caption-bold-text-decoration);
 --chip-transform: var(--small-text-caption-bold-text-transform);
 --sm-button-text-decoration: var(--small-text-cta-small-text-decoration);
 --sm-button-text-transform: var(--small-text-cta-small-text-transform);
 --button-text-decoration: var(--small-text-cta-text-decoration);
 --button-text-transform: var(--small-text-cta-text-transform);
 --display-small-paragraph-spacing: var(--paragraph-spacing-none);
 --display-small-letter-spacing: var(--letter-spacing-2);
 --display-small-line-height: calc(var(--line-height-small) * var(--display-small-font-size));
 --display-small-font-weight: var(--cognative-font-weights-header);
 --display-small-font-family: var(--cognative-font-families-secondary) ;
 --display-large-paragraph-spacing: var(--paragraph-spacing-none);
 --display-large-letter-spacing: var(--letter-spacing-2);
 --display-large-line-height: calc(var(--line-height-small) * var(--display-large-font-size));
 --display-large-font-weight: var(--cognative-font-weights-header);
 --display-large-font-family: var(--cognative-font-families-secondary);
 --breadcrumbs-current-paragraph-spacing: var(--line-height-none);
 --breadcrumbs-current-letter-spacing: var(--letter-spacing-3);
 --breadcrumbs-current-line-height: calc(var(--line-height-small) * var(--breadcrumbs-current-font-size));
 --breadcrumbs-current-font-weight: var(--cognative-font-weights-light);
 --breadcrumbs-current-font-family: var(--cognative-font-families-primary);
 --breadcrumbs-historic-paragraph-spacing: var(--paragraph-spacing-none);
 --breadcrumbs-historic-letter-spacing: var(--letter-spacing-3);
 --breadcrumbs-historic-line-height: calc(var(--line-height-small) * var(--breadcrumbs-historic-font-size));
 --breadcrumbs-historic-font-weight: var(--cognative-font-weights-light);
 --breadcrumbs-historic-font-family: var(--cognative-font-families-primary);
 --small-text-label-extra-small-letter-spacing: var(--letter-spacing-2) ;
 --small-text-label-extra-small-line-height: calc(var(--line-height-small) * var(--small-text-label-extra-small-font-size));
 --small-text-label-extra-small-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-extra-small-font-family: var(--cognative-font-families-primary);
 --small-text-label-small-letter-spacing: var(--letter-spacing-3);
 --small-text-label-small-line-height: calc(var(--line-height-small) * var(--small-text-label-small-font-size));
 --small-text-label-small-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-small-font-family: var(--cognative-font-families-primary);
 --small-text-label-medium-all-caps-letter-spacing: var(--letter-spacing-2);
 --small-text-label-medium-all-caps-line-height: calc(var(--line-height-small) * var(--small-text-label-medium-all-caps-font-size));
 --small-text-label-medium-all-caps-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-medium-all-caps-font-family: var(--cognative-font-families-primary);
 --small-text-label-medium-letter-spacing: var(--letter-spacing-2);
 --small-text-label-medium-line-height: calc(var(--line-height-small) * var(--small-text-label-medium-font-size));
 --small-text-label-medium-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-medium-font-family: var(--cognative-font-families-primary);
 --small-text-label-large-all-caps-letter-spacing: var(--letter-spacing-2);
 --small-text-label-large-all-caps-line-height: calc(var(--line-height-small) * var(--small-text-label-large-all-caps-font-size));
 --small-text-label-large-all-caps-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-large-all-caps-font-family: var(--cognative-font-families-primary);
 --small-text-label-large-letter-spacing: var(--letter-spacing-2);
 --small-text-label-large-line-height: calc(var(--line-height-small) * var(--small-text-label-large-font-size));
 --small-text-label-large-font-weight: var(--cognative-font-weights-bold);
 --small-text-label-large-font-family: var(--cognative-font-families-primary);
 --small-text-legal-semibold-letter-spacing: var(--letter-spacing-2);
 --small-text-legal-semibold-line-height: var(--line-height-small) * var(--small-text-legal-semibold-font-size);
 --small-text-legal-semibold-font-weight: var(--cognative-font-weights-bold);
 --small-text-legal-semibold-font-family: var(--cognative-font-families-primary);
 --small-text-legal-letter-spacing: var(--letter-spacing-2);
 --small-text-legal-line-height: calc(var(--line-height-small) * var(--small-text-legal-font-size));
 --small-text-legal-font-weight: var(--cognative-font-weights-light);
 --small-text-legal-font-family: var(--cognative-font-families-primary);
 --small-text-overline-extra-large-letter-spacing: var(--letter-spacing-3);
 --small-text-overline-extra-large-line-height: calc(var(--line-height-small) * var(--small-text-overline-extra-large-font-size));
 --small-text-overline-extra-large-font-weight: var(--cognative-font-weights-regular);
 --small-text-overline-extra-large-font-family: var(--cognative-font-families-primary);
 --small-text-overline-large-letter-spacing: var(--letter-spacing-0);
 --small-text-overline-large-line-height: calc(var(--line-height-small) * var(--small-text-overline-large-font-size));
 --small-text-overline-large-font-weight: var(--cognative-font-weights-regular);
 --small-text-overline-large-font-family: var(--cognative-font-families-primary);
 --small-text-overline-letter-spacing: var(--letter-spacing-2);
 --small-text-overline-line-height: calc(var(--line-height-small) * var(--small-text-overline-font-size));
 --small-text-overline-font-weight: var(--cognative-font-weights-regular);
 --small-text-overline-font-family: var(--cognative-font-families-primary);
 --small-text-caption-bold-letter-spacing: var(--letter-spacing-2);
 --small-text-caption-bold-line-height: calc(var(--line-height-small) * var(--small-text-caption-bold-font-size));
 --small-text-caption-bold-font-weight: var(--cognative-font-weights-extra-bold);
 --small-text-caption-bold-font-family: var(--cognative-font-families-primary);
 --small-text-caption-letter-spacing: var(--letter-spacing-2);
 --small-text-caption-line-height: calc(var(--line-height-small) * var(--small-text-caption-font-size));
 --small-text-caption-font-weight: var(--cognative-font-weights-regular);
 --small-text-caption-font-family: var(--cognative-font-families-primary);
 --small-text-cta-small-letter-spacing: var(--letter-spacing-2);
 --small-text-cta-small-line-height: calc(var(--line-height-none) * var(--small-text-cta-small-font-size));
 --small-text-cta-small-font-weight: var(--cognative-font-weights-bold);
 --small-text-cta-small-font-family: var(--cognative-font-families-primary);
 --small-text-cta-letter-spacing: var(--letter-spacing-2);
 --small-text-cta-line-height: calc(var(--line-height-none) * var(--small-text-cta-font-size));
 --small-text-cta-font-weight: var(--cognative-font-weights-extra-bold);
 --small-text-cta-font-family: var(--cognative-font-families-primary);
 --small-text-subtitle-small-letter-spacing: var(--letter-spacing-2);
 --small-text-subtitle-small-line-height: calc(var(--line-height-small) * var(--small-text-subtitle-small-font-size));
 --small-text-subtitle-small-font-weight: var(--cognative-font-weights-bold);
 --small-text-subtitle-small-font-family: var(--cognative-font-families-primary);
 --small-text-subtitle-large-letter-spacing: var(--letter-spacing-2);
 --small-text-subtitle-large-line-height: calc(var(--line-height-small) * var(--small-text-subtitle-large-font-size));
 --small-text-subtitle-large-font-weight: var(--cognative-font-weights-bold);
 --small-text-subtitle-large-font-family: var(--cognative-font-families-primary);
 --body-large-bold-line-height: calc(var(--line-height-auto) * var(--body-large-bold-font-size));
 --body-large-bold-font-weight: var(--cognative-font-weights-extra-bold);
 --body-large-bold-font-family: var(--cognative-font-families-primary);
 --body-medium-bold-letter-spacing: var(--letter-spacing-2);
 --body-medium-bold-line-height: calc(var(--line-height-auto) * var(--body-medium-bold-font-size));
 --body-medium-bold-font-weight: var(--cognative-font-weights-extra-bold);
 --body-medium-bold-font-family: var(--cognative-font-families-primary);
 --body-small-bold-letter-spacing: var(--letter-spacing-2);
 --body-small-bold-line-height: calc(var(--line-height-auto) * var(--body-small-bold-font-size));
 --body-small-bold-font-weight: var(--cognative-font-weights-extra-bold);
 --body-small-bold-font-family: var(--cognative-font-families-primary);
 --body-large-semibold-letter-spacing: var(--letter-spacing-2);
 --body-large-semibold-line-height: var(--line-height-auto) * var(--body-large-semibold-font-size);
 --body-large-semibold-font-weight: var(--cognative-font-weights-bold);
 --body-large-semibold-font-family: var(--cognative-font-families-primary);
 --body-medium-semibold-letter-spacing: var(--letter-spacing-2);
 --body-medium-semibold-line-height: calc(var(--line-height-auto) * var(--body-medium-semibold-font-size));
 --body-medium-semibold-font-weight: var(--cognative-font-weights-bold);
 --body-medium-semibold-font-family: var(--cognative-font-families-primary);
 --body-small-semibold-letter-spacing: var(--letter-spacing-2);
 --body-small-semibold-line-height: calc(var(--line-height-auto) * var(--body-small-semibold-font-size));
 --body-small-semibold-font-weight: var(--cognative-font-weights-bold);
 --body-small-semibold-font-family: var(--cognative-font-families-primary);
 --body-large-letter-spacing: var(--letter-spacing-2);
 --body-large-line-height: calc(var(--line-height-auto) * var(--body-large-font-size));
 --body-large-font-weight: var(--cognative-font-weights-regular);
 --body-large-font-family: var(--cognative-font-families-primary);
 --body-medium-letter-spacing: var(--letter-spacing-2);
 --body-medium-line-height: calc(var(--line-height-auto) * var(--body-medium-font-size));
 --body-medium-font-weight: var(--cognative-font-weights-regular);
 --body-medium-font-family: var(--cognative-font-families-primary);
 --body-small-letter-spacing: var(--letter-spacing-2);
 --body-small-line-height: calc(var(--line-height-auto) * var(--body-small-font-size));
 --body-small-font-weight: var(--cognative-font-weights-regular);
 --body-small-font-family: var(--cognative-font-families-primary);
 --number-medium-paragraph-spacing: var(--paragraph-spacing-none);
 --number-medium-letter-spacing: var(--letter-spacing-2);
 --number-medium-line-height: calc(var(--line-height-small) * var(--number-medium-font-size));
 --number-medium-font-weight: var(--cognative-font-weights-extra-bold);
 --number-medium-font-family: var(--cognative-font-families-primary);
 --number-large-paragraph-spacing: var(--paragraph-spacing-none);
 --number-large-letter-spacing: var(--letter-spacing-2);
 --number-large-line-height: calc(var(--line-height-small) * var(--number-large-font-size));
 --number-large-font-weight: var(--cognative-font-weights-extra-bold);
 --number-large-font-family: var(--cognative-font-families-primary);
 --headers-h6-paragraph-spacing: var(--paragraph-spacing-none);
 --headers-h6-letter-spacing: var(--letter-spacing-2);
 --headers-h6-font-size: var(--header-sizing-h6);
 --headers-h6-line-height: calc(var(--line-height-small) * var(--headers-h6-font-size));
 --headers-h6-font-weight: var(--cognative-font-weights-header);
 --headers-h6-font-family: var(--cognative-font-families-secondary);
 --headers-h5-paragraph-spacing: var(--paragraph-spacing-none);
 --headers-h5-letter-spacing: var(--letter-spacing-5);
 --headers-h5-line-height: calc(var(--line-height-small) * var(--headers-h5-font-size));
 --headers-h5-font-weight: var(--cognative-font-weights-extra-bold);
 --headers-h5-font-family: var(--cognative-font-families-secondary);
 --headers-h4-paragraph-spacing: var(--paragraph-spacing-none);
 --headers-h4-letter-spacing: var(--letter-spacing-5);
 --headers-h4-line-height: calc(var(--line-height-small) * var(--headers-h4-font-size));
 --headers-h4-font-weight: var(--cognative-font-weights-header);
 --headers-h4-font-family: var(--cognative-font-families-secondary);
 --headers-h3-paragraph-spacing: var(--paragraph-spacing-none);
 --headers-h3-letter-spacing: var(--letter-spacing-5);
 --headers-h3-line-height: calc(var(--line-height-small) * var(--headers-h3-font-size));
 --headers-h3-font-weight: var(--cognative-font-weights-header);
 --headers-h3-font-family: var(--cognative-font-families-secondary);
 --headers-h2-paragrap-spacing: var(--paragraph-spacing-none);
 --headers-h2-letter-spacing: var(--letter-spacing-7);
 --headers-h2-line-height: calc(var(--line-height-small) * var(--headers-h2-font-size));
 --headers-h2-font-weight: var(--cognative-font-weights-header);
 --headers-h2-font-family: var(--cognative-font-families-secondary);
 --headers-h1-paragraph-spacing: var(--paragraph-spacing-none);
 --headers-h1-letter-spacing: var(--letter-spacing-9);
 --headers-h1-font-size: var(--header-sizing-h1);
 --headers-h1-line-height: var(--line-height-small);
 --headers-h1-font-weight: var(--cognative-font-weights-header);
 --header-sizing-display-small: calc(var(--font-size-base-font) * 2.75);
 --header-sizing-display-large: calc(var(--font-size-base-font) * 3);
 --header-sizing-h5:calc(calc(calc(var(--header-sizing-h1) - var(--header-sizing-h6) ) / 5 * 1) + var(--header-sizing-h6));
 --header-sizing-h4: calc(calc(calc(var(--header-sizing-h1) - var(--header-sizing-h6) ) / 5 * 2) + var(--header-sizing-h6));
 --header-sizing-h3: calc(calc(calc(var(--header-sizing-h1) - var(--header-sizing-h6) ) / 5 * 3) + var(--header-sizing-h6));
 --header-sizing-h2: calc(calc(calc(var(--header-sizing-h1) - var(--header-sizing-h6) ) / 5 * 4) + var(--header-sizing-h6));
 --font-families-secondary: var(--cognative-font-families-secondary);
 --font-families-primary: var(--cognative-font-families-primary);
 --font-size-4: var(--font-size-base-font);
 --hero-body-letter-spacing: var(--body-small-semibold-letter-spacing);
 --hero-body-line-height: var(--body-small-semibold-line-height);
 --hero-body-font-weight: var(--body-small-semibold-font-weight);
 --hero-body-font-family: var(--body-small-semibold-font-family);
 --hero-title-paragraph-spacing: var(--display-small-paragraph-spacing);
 --hero-title-letter-spacing: var(--display-small-letter-spacing);
 --hero-title-line-height: var(--display-small-line-height);
 --hero-title-font-weight: var(--display-small-font-weight);
 --hero-title-font-family: var(--display-small-font-family);
 --chip-letter-spacing: var(--small-text-caption-bold-letter-spacing);
 --chip-line-height: var(--small-text-caption-bold-line-height);
 --chip-font-weight: var(--small-text-caption-bold-font-weight);
 --chip-font-family: var(--small-text-caption-bold-font-family);
 --sm-button-letter-spacing: var(--small-text-cta-small-letter-spacing);
 --sm-button-line-height: var(--small-text-cta-small-line-height);
 --sm-button-font-weight: var(--small-text-cta-small-font-weight);
 --sm-button-font-family: var(--small-text-cta-small-font-family);
 --button-letter-spacing: var(--small-text-cta-letter-spacing);
 --button-line-height: var(--small-text-cta-line-height);
 --button-font-weight: var(--small-text-cta-font-weight);
 --button-font-family: var(--small-text-cta-font-family);
 --display-small-font-size: var(--header-sizing-display-small);
 --display-large-font-size: var(--header-sizing-display-large);
 --small-text-label-medium-font-size: var(--font-size-4);
 --small-text-overline-extra-large-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-overline-extra-large);
 --small-text-overline-large-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-overline-large);
 --small-text-cta-small-font-size: var(--font-size-4);
 --small-text-subtitle-small-font-size: var(--font-size-4);
 --body-small-bold-font-size: var(--font-size-4);
 --body-medium-semibold-font-size: var(--font-size-4);
 --headers-h5-font-size: var(--header-sizing-h5);
 --headers-h4-font-size: var(--header-sizing-h4);
 --headers-h3-font-size: var(--header-sizing-h3);
 --headers-h2-font-size: var(--header-sizing-h2);
 --headers-h1-font-family: var(--font-families-primary);
 --font-size-15: calc(var(--font-size-4) * 5.714);
 --font-size-14: calc(var(--font-size-4) * 4.286);
 --font-size-13: calc(var(--font-size-4) * 3.429);
 --font-size-12: calc(var(--font-size-4) * 2.857);
 --font-size-11: calc(var(--font-size-4) * 2.571);
 --font-size-10: calc(var(--font-size-4) * 2.285);
 --font-size-9: calc(var(--font-size-4) * 2);
 --font-size-8: calc(var(--font-size-4) * 1.714);
 --font-size-7: calc(var(--font-size-4) * 1.571);
 --font-size-6: calc(var(--font-size-4) * 1.286);
 --font-size-5: calc(var(--font-size-4) * 1.143);
 --font-size-3: calc(var(--font-size-4) * .857);
 --font-size-2: calc(var(--font-size-4)  * .786);
 --font-size-1: calc(var(--font-size-4)  * .771);
 --font-size-0: calc(var(--font-size-4) * .714);
 --hero-title-font-size: var(--display-small-font-size);
 --sm-button-font-size: var(--small-text-cta-small-font-size);
 --breadcrumbs-current-font-size: var(--font-size-1);
 --breadcrumbs-historic-font-size: var(--font-size-1);
 --small-text-label-extra-small-font-size: var(--font-size-0);
 --small-text-label-small-font-size: var(--font-size-3);
 --small-text-label-medium-all-caps-font-size: var(--font-size-3);
 --small-text-label-large-all-caps-font-size: var(--font-size-5);
 --small-text-label-large-font-size: var(--font-size-5);
 --small-text-legal-semibold-font-size: var(--font-size-1);
 --small-text-legal-font-size: var(--font-size-1);
 --small-text-overline-extra-large-font-size: var(--font-size-6);
 --small-text-overline-large-font-size: var(--font-size-5);
 --small-text-overline-font-size: var(--font-size-3);
 --small-text-caption-bold-font-size: var(--font-size-3);
 --small-text-caption-font-size: var(--font-size-3);
 --small-text-cta-font-size: var(--font-size-6);
 --small-text-subtitle-large-font-size: var(--font-size-5);
 --body-large-bold-font-size: var(--font-size-6);
 --body-medium-bold-font-size: var(--font-size-5);
 --body-large-semibold-font-size: var(--font-size-5);
 --body-small-semibold-font-size: var(--font-size-6);
 --body-large-font-size: var(--font-size-5);
 --body-medium-font-size: var(--font-size-5);
 --body-small-font-size: var(--font-size-6);
 --number-medium-font-size: var(--font-size-8);
 --number-large-font-size: var(--font-size-10);
 --hero-body-font-size: var(--body-small-semibold-font-size);
 --chip-font-size: var(--small-text-caption-bold-font-size);
 --button-font-size: var(--small-text-cta-font-size);
 --small-text-label-medium-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-medium);
 --small-text-cta-small-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-cta-small);
 --small-text-subtitle-small-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-subtitle-small);
 --body-small-bold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-small-bold);
 --body-medium-semibold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-medium-semibold);
 --sm-button-paragraph-spacing: var(--small-text-cta-small-paragraph-spacing);
 --small-text-label-extra-small-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-extra-small);
 --small-text-label-small-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-small);
 --small-text-label-medium-all-caps-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-medium-all-caps);
 --small-text-label-large-all-caps-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-large-all-caps);
 --small-text-label-large-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-label-large);
 --small-text-legal-semibold-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-legal-semibold);
 --small-text-legal-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-legal);
 --small-text-caption-bold-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-caption-bold);
 --small-text-caption-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-caption);
 --small-text-cta-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-cta);
 --small-text-subtitle-large-paragraph-spacing: var(--paragraph-spacing-multiplier-small-text-subtitle-large);
 --body-large-bold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-large-bold);
 --body-medium-bold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-medium-bold);
 --body-large-semibold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-large-semibold);
 --body-small-semibold-paragraph-spacing: var(--paragraph-spacing-multiplier-body-small-semibold);
 --body-large-paragraph-spacing: var(--paragraph-spacing-multiplier-body-large);
 --body-medium-paragraph-spacing: var(--paragraph-spacing-multiplier-body-medium);
 --body-small-paragraph-spacing: var(--paragraph-spacing-multiplier-body-small);
 --hero-body-paragraph-spacing: var(--body-small-semibold-paragraph-spacing);
 --chip-paragraph-spacing: var(--small-text-caption-bold-paragraph-spacing);
 --button-paragraph-spacing: var(--small-text-cta-paragraph-spacing);
}}
