:root, ::before, ::after {
[data-zoom="standard"] {
  --zoom: 1;
  --system-spacing-1: calc(var(--spacing-1) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-2: calc(var(--spacing-2) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-3: calc(var(--spacing-3) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-4: calc(var(--spacing-4) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-5: calc(var(--spacing-5) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-6: calc(var(--spacing-6) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-7: calc(var(--spacing-7) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-8: calc(var(--spacing-8) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-9: calc(var(--spacing-9) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-10: calc(var(--spacing-10) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-half: calc(var(--spacing-half) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-quarter: calc(var(--spacing-quarter) * var(--spacing-multiplier) * var(--zoom));
  --system-spacing-1-and-half: calc(var(--spacing-1-and-half) * var(--spacing-multiplier) * var(--zoom));
  --system-container-padding: calc(var(--container-padding) * var(--zoom));
  --system-sizing-1: calc( var(--sizing-1) * var(--zoom));
  --system-sizing-2: calc( var(--sizing-2) * var(--zoom));
  --system-sizing-3: calc( var(--sizing-3) * var(--zoom));
  --system-sizing-4: calc( var(--sizing-4) * var(--zoom));
  --system-sizing-5: calc( var(--sizing-5) * var(--zoom));
  --system-sizing-6: calc( var(--sizing-6) * var(--zoom));
  --system-sizing-7: calc( var(--sizing-7) * var(--zoom));
  --system-sizing-8: calc( var(--sizing-8)* var(--zoom));
  --system-sizing-9: calc( var(--sizing-9) * var(--zoom));
  --system-sizing-10: calc( var(--sizing-10)* var(--zoom));
  --system-sizing-half: calc( var(--sizing-half) * var(--zoom));
  --system-radius-1: calc( var(--radius-1) * var(--zoom));
  --system-radius-2: calc( var(--radius-2)  * var(--zoom));
  --system-radius-3: calc( var(--radius-3)  * var(--zoom));
  --system-radius-4: calc( var(--radius-4) * var(--zoom));
  --system-radius-half: calc( var(--radius-half)  * var(--zoom));
  --system-radius-quarter: calc( var(--radius-quarter)  * var(--zoom));
  --system-hover-spacing: calc( 3px * var(--zoom));
  --system-borders-standard: calc( 1px * var(--zoom));
  --system-borders-wide: calc( 2px * var(--zoom));
  --system-borders-extra-wide: calc( 4px * var(--zoom));
  --system-borders-super-wide: calc( 8px * var(--zoom));
  --system-sizing-quarter: calc( var(--sizing-quarter)  * var(--zoom));
  --system-sizing-20: calc( var(--sizing-1) * 20 * var(--zoom));
  --system-sizing-30:  calc( var(--sizing-1) * 30 * var(--zoom));
  --system-sizing-40: calc( var(--sizing-1) * 40 * var(--zoom));
  --system-sizing-50:  calc( var(--sizing-1) * 50 * var(--zoom));
  --system-sizing-100:  calc( var(--sizing-1) * 100 * var(--zoom));
  --system-sizing-1-and-half: calc( var(--sizing-half) * var(--zoom));
  --system-button-hover-radius: calc( 35px * var(--zoom));
  --system-card-hover-radius: calc( 19px * var(--zoom));
  --system-input-hover-radius: calc( 7px * var(--zoom));
  --system-accordian-hover-radius: calc( 11px * var(--zoom));
  --system-slider-handle-hover-radius: calc( 19px * var(--zoom));
  --system-negative-size-1: calc( -8px * var(--zoom));
  --system-negative-size-half: calc( -4px * var(--zoom));
  --system-chip-hover-radius: calc( 35px * var(--zoom));
  --system-dual-slider-overlap: calc( -5px * var(--zoom));
  --system-switch-bar-width: calc( 36px * var(--zoom));
  --system-min-target: min(calc(var(--cognative-min-target) * var(--zoom)), calc(var(--platform-min-target) * var(--zoom)));
  --elevation-level: 0;
  --system-background-color: var(--color);
  --elevation-shadow: none;
  --elevation-dropshadow: var(--elevation-background)80;
  --elevation-drop-1-horizontal: 0;
  --elevation-drop-1-vertical: 0;
  --elevation-drop-1-blur: 0;
  --elevation-drop-1-spread:  0;
  --elevation-drop-2-horizontal:  0;
  --elevation-drop-2-vertical:  0;
  --elevation-drop-2-blur: 0;
  --elevation-drop-2-spread:  0;
  --elevation-drop-3-horizontal:  0;
  --elevation-drop-3-vertical:  0;
  --elevation-drop-3-blur:  0;
  --elevation-drop-3-spread: 0;
  --system-color: var(--color);
  --system-on-color: var(--elevation-on-color-none);
  --system-on-on-color: var(--on-on-color);
  --system-quiet: var(--elevation-quiet-none);
  --system-border: var(--elevation-border-0);
  --system-outer-border: color-mix(in srgb, var(--system-on-color) 25%, transparent);
  --system-button: var(--button);
  --system-button-half: var(--button-half);
  --system-on-button: var(--on-button);
  --system-hotlink: var(--hotlink);
  --system-overlay-1: var(--overlay-1);
  --system-overlay-2: var(--overlay-2);
  --small-button-hover-padding: calc(calc( var(--system-min-target) - calc( var(--sm-button-height)) / 2) - 3px);
  --copyright-height: var(--system-min-target);
  --dropdown-menu-max-height: calc(calc( var(--system-min-target) * 5) + calc( var(--sizing-1) * 2));
  --stacked-avatar-spacing: calc( var(--sizing-7) + 6 - var(--system-min-target));
  --stacked-avatar-spacing-negative: calc(0 - var(--sizing-7) + 6px - var(--system-min-target));
  --switch-bar-width: calc(calc( var(--switch-handle-height) * 2) - calc( var(--switch-handle-height) / 2));
  --hotlink-min-target: calc( var(--system-min-target) - 16px);
}

}
